[2017-05-28 03:04] bcronin opened #51 "dist/main.js contains source maps"
(First off, thanks for the great React component!)

I'm not a webpack expert but it looks like the NPM distributed `dist/main.js` contains embedded source maps for all/many of the dependencies (or more generally, it looks to be a debug build).  It's difficult to use `react-json-view` in a production project _of my own_ because it pulls in that debugging information. Webpack doesn't optimize it bac

[2017-05-29 17:03] mac-s-g commented on #51
thanks for pointing this out.  I'll investigate today.

[2017-05-29 18:44] mac-s-g commented on #51
opened #52 which removes source map from production builds.  I'll merge momentarily, and publish to npm at version 1.8.2

`dist/main.js` is down to around 350kb.  I think there is still room for optimization, but I'll get this out for now.

thanks again for pointing this out!

[2017-05-29 22:44] jsteenkamp opened #53 "Failed context type"
I'm not sure if this is caused by this component directly, however it is only shown when adding the component in project with React +15.4. Possibly 3rd party package used by this component is causing this.

Warning: Failed context type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at [http://fb.me/use-che

[2017-05-29 23:19] cesarve77 opened #54 "Uncaught Error: Minified React error #31; visit"
Wonderfull tool. Thanks

I got error with

`<ReactJson src={[new Date(),new Date()]} />`

I I really have performance problems if I display several ReactJson components (250 components with small objects)

thanks and sorry for my english

[2017-05-30 00:09] cesarve77 opened #55 "Contributing got Cannot GET /"
Trying to Contribute I got this:

MacBook-Air-de-Cesar:react-json-view cesar$ npm run dev:hot

Project is running at http://0.0.0.0:2000/
webpack output is served from /
Content not from webpack is served from /Users/cesar/Documents/www/react-json-view/dist
404s will fallback to /index.html
Hash: d7f28ca4de320063890f
Version: webpack 2.6.1
Time: 8235ms
  Asset     Size  Chunks                    C

[2017-05-30 07:56] mac-s-g commented on #53
Thanks for bringing this up.  It's coming from a dependency.  I'll try to dig a little deeper and track it down.

[2017-05-30 07:59] mac-s-g commented on #54
Thanks, I have to add support for dates.  I'll update this issue when I get a PR up.

What rjv version are you using?  I removed a bunch of debug output from the build at v 1.8.2.  using that version or later could help performance?

[2017-05-30 08:04] mac-s-g commented on #55
Thanks, I can update with a default environment variable when I have a chance.  I'll update this issue with the PR.

[2017-05-30 08:08] #51 closed

[2017-05-31 01:56] cesarve77 commented on #54
I'm using the last version

2017-05-30 17:59 GMT+10:00 Mac Gainor <notifications@github.com>:

[2017-06-04 23:21] #54 closed

[2017-06-04 23:31] mac-s-g commented on #54
added support for dates

[2017-06-04 23:57] mac-s-g commented on #55
I'll merge #57 which will default your `NODE_ENV` environment variable to 'production'.

I would recommend two things:

1. build rjv inside of a docker container.  I posted instructions to do this under "how to contribute", but I'm happy to help if you're having issues.  My docker scripts take care of all the environment issues you might run into (and it's honestly pretty easy to set up).

2.  set

[2017-06-05 00:28] #55 closed

[2017-06-05 00:54] mac-s-g commented on #53
found the source and resolved.

[2017-06-08 09:17] mindriven opened #59 "Should not render functions from prototype in array"
Hi there,
I've tried to use your great looking component, and I've encountered the following problem:
![problem](https://user-images.githubusercontent.com/4957654/26921226-a3247b42-4c3b-11e7-8d64-cd4b05295b67.png)

It looks like you're rendering each property in object using for-in loop, this leads to every method from the prototype to get rendered on each occurrence of given type as well (in my e

[2017-06-08 18:25] mac-s-g commented on #59
great feedback! thanks for investigating.
That is probably related to the performance problems that @cesarve77 mentioned in #54 .
I'll try to get a PR up this weekend.

[2017-06-09 12:56] vagyriag opened #60 "feature request: expand/collapse large strings"
Hi,

I'm using rjv to inspect some collections of complex objects, so I can verify the structure of the data.
Sometimes the content has a large paragraph of text so I have to scroll a lot, and I don't really care for the text, just want to know it's there.

I think there could be a way to expand/collapse large strings, when it's collapsed it only shows the initial chars but can be expanded to reve

[2017-06-09 13:07] gernotlabahn commented on #53
Could you please publish a new version to the registry since the current one seems not to include this fix

[2017-06-09 17:28] mac-s-g commented on #60
I love this idea!

could we tie it into a prop?

like: `collapseStringsWithLength`.  Default could be `false`, meaning "dont collapse".  But an integer could specify a length after which a string is collapsed.  EG:  a prop value of `100` means strings longer than 100 chars will be collapsed with elipsis.

collapsed strings could be displayed as the first `collapseStringsWithLength` chars followed

[2017-06-09 17:59] mac-s-g commented on #53
strange.  the development build doesn't log the propTypes error, but the production build does.
I'll re-open and continue to debug.

[2017-06-09 18:16] vagyriag commented on #60
I'm glad you like it!

yes. I though something similar.
maybe the prop name should be more like ```collapseStringsAfterLenght```?
that way is clear that it's a > operator

I have never contributed on a project on github, so if you think there's something not so obvious to me or any recommendation I would appreciate it.

[2017-06-09 18:42] mac-s-g commented on #53
the error is originating from `react-icon-base` through the `react-icons` dependency.

the issue was supposed to be fixed with react-icons v.2.2.5, but the error still appears with production builds.

I commented here: https://github.com/gorangajic/react-icon-base/issues/20

[2017-06-09 18:48] mac-s-g commented on #60
that property name sounds good to me.

I'd recommend developing within a docker container.  I documented the development process in the README.

I also request that you write tests for any new content.

[2017-06-10 03:05] vagyriag commented on #60
What could we use to collapse the string after it has been expanded?
I tried the CircleMinus but didn't like it very much in this context (without the accompanying CirclePlus)
Maybe a backspace? ←⇐
Or an x in a circle?
I don't know

[2017-06-11 03:19] mac-s-g commented on #60
you could just make the string container clickable when that prop is not false.
it will probably look good without an icon.

[2017-06-12 17:02] mac-s-g commented on #59
I misunderstood the issue at first, but I have a fix ready to go.  I'll merge and publish later today.
thanks again for pointing it out.

[2017-06-13 04:04] mac-s-g commented on #59
I fixed this and published react-json-view@1.8.4
https://www.npmjs.com/package/react-json-view

[2017-06-13 04:04] #59 closed

[2017-06-16 22:31] mac-s-g commented on #60
I just published react-json-view v.19.0.0

The latest version includes the `collapseStringsAfterLength` attribute which defaults to false.

You can pass an integer in to collapse strings at a particular length.  Collapsed strings will be followed with an ellipsis indicator (see README props table for documentation).

Click on the string to expand/collapse.

There's a demo here: https://mac-s-g.git

[2017-06-16 22:31] #60 closed

[2017-06-19 15:21] shanielh opened #63 "Custom Themes"
Hi.

Is there any support for custom themes? Couldn't find in the readme / source code.

[2017-06-19 17:03] mac-s-g commented on #63
not currently, i'll use this issue to track support for custom base-16 themes

[2017-06-19 17:05] shanielh commented on #63
If you want I can hack something in the weekend and pull request :-)?

[2017-06-19 17:32] mac-s-g commented on #63
okay, I'm cool with that.  You're just interested in providing a custom color theme, right?

I might link a PR and let you review.

[2017-06-19 17:33] shanielh commented on #63
Yes.
On Mon, 19 Jun 2017 at 20:32 Mac Gainor <notifications@github.com> wrote:

[2017-06-19 18:21] mac-s-g commented on #63
Turns out I was supporting this, it was just not documented.  (love when that happens)

I did put up a PR to add some input validation and a custom theme example.

I commented on the example in the pr #64

I'll also update the README with a little more info.

If you want to expand on the customization support, I'd love that!

[2017-06-19 18:28] mac-s-g commented on #63
published v 1.9.5 which includes input validation for custom themes.

[2017-06-19 18:28] #63 closed

[2017-06-19 18:40] mac-s-g commented on #63
i also added this: https://github.com/mac-s-g/react-json-view#use-your-own-theme

[2017-06-19 19:19] mac-s-g opened #65 "Support add and delete when `onEdit` is activated"
issue to track progress of add/delete functionality

[2017-06-20 05:11] shanielh commented on #63
Thank you very much :+1:

[2017-06-20 05:23] shanielh opened #66 "Feature Request: Collapse default by depth"
Hi Again :smile:

I would like to collapse by default until a certain depth of the JSON tree.

Suggestion: Change `collapsed` prop to allow numbers, and if a number is inserted - Expand until the given depth, for example : 0 - collapse all (including root), 1 - expand root, 2 - expand root and direct descendants, etc...

[2017-06-21 07:39] mac-s-g commented on #66
This is a great idea!  I'll update this issue when I have a PR.

[2017-06-22 19:42] JerryCauser opened #67 "Calling PropTypes validators directly is not supported by the `prop-types` package"
Some of `{rjv}` dependency use deprecated code. You can repeat it even in your own example.
I tried to find that dep, but l it was unsuccessful.

I wanna use you lib, but I can't use libs with deprecations in prod.
Have any idea where is the trouble?
![image](https://user-images.githubusercontent.com/5141037/27451950-812257e4-5799-11e7-84a5-373281226758.png)

[2017-06-23 17:05] mac-s-g commented on #67
yea, it's tough to track down the culprit without a source map enabled.

I built with a source map in a dev environment and tracked it down to the react-icons dependency.

i posed a comment on their issue here: https://github.com/gorangajic/react-icon-base/issues/20

I'll try to get more info and update here.

[2017-06-25 10:13] shanielh commented on #66
Hi @mac-s-g, I see that it's delaying... Do you want me to pull request?

[2017-06-25 21:18] mac-s-g commented on #65
checkout the `onAdd` and `onDelete` props!

#68

[2017-06-25 21:18] #65 closed

[2017-06-25 22:11] mac-s-g commented on #66
sorry about the delay!

The pr is here: #69

I'll merge and publish once tests all pass

[2017-06-25 22:12] mac-s-g commented on #66
However, I'm always open to reviewing pr's if you're interested in contributing :+1:

[2017-06-25 22:24] mac-s-g commented on #66
published:
react-json-view@1.10.2

let me know how that works for you

[2017-06-25 23:25] #66 closed

[2017-06-29 19:51] shawninder opened #71 "Changing the data forgets the collapsed state"
## Reproducing the bug

1. Get a react json view element with data in it in a default un-collapsed state
2. Collapse the root
3. Change the data source
4. EXPECT data changes but collapsed state remains
5 OBSERVE data changes but collapsed state is not remembered

In english, it seems that changing the data forgets the collapsed state. This makes sence since there is no guarantee the new data has

[2017-06-29 20:57] mac-s-g commented on #71
yea, I agree.  I can get a PR up this weekend.

[2017-06-30 17:59] joeblubaugh opened #72 "Returning false from `onEdit` or `onDelete` does not prevent the edit from happening."
I've replaced my `onEdit` and `onDelete` functions with ones that only call "return false;" and I see that they're called and return false. However, the new src object is replaced with the edited one anyway.

This isn't true of `onAdd`. If I return false there, the item is not added, and the "New" window stays up. Is there a way to dismiss it and show an error instead?

[2017-06-30 18:07] mac-s-g commented on #72
yea, those features are pretty new, so I can take another look at the behavior when returning false.

Ideally, the user can treat `onAdd`, `onDelete` and `onEdit` as validation functions - and `return false` to prevent changes from being made.

That would be useful if you wanted to make sure a particular field can only have an integer value, for example.

Error messages are not (yet?) supported th

[2017-06-30 18:35] joeblubaugh commented on #72
Thank you!

[2017-06-30 23:53] joeblubaugh opened #73 "Editing a value for the first time does not show the value in the "edit" block"
Steps to repro:
- Load a JS object as src on ReactJSON
- Click a field to edit. Note that the textarea is empty with the placeholder "update this value"
- Put the new value in and update.
- Click the same field to edit again. Note that the textarea is populated with the new value.

When running this in the debugger, I noticed that the `state.editValue === ""` rather than the string value I would e

[2017-07-04 07:10] shanielh opened #74 "Allow changing "root" object name."
I have an object that looks like this :

![screenshot from 2017-07-04 10 08 45](https://user-images.githubusercontent.com/746471/27818973-c6519d38-60a0-11e7-9ab5-b8b529e93c22.png)

I would like to remove the "root" object name so it'll look more like the source json :

[code]

[2017-07-06 13:21] brendo opened #75 "Add `react` and `react-dom` to externals"
While debugging my projects bundle size, this module came in as the largest dependency.

I had a look and noticed that `react` and `react-dom` are included in the bundle for rjv:

[code]

I feel like they could instead added as externals, as it'd be implied that if someone wanted to use this component, that they should be including React/ReactDOM themselves:

[code]

After analysis:

[code]

What

[2017-07-08 20:01] mac-s-g commented on #75
wow.  i'm so glad you pointed this out.
this is really helpful,  i'm updating dependency mgmt right now.  i'll update when i post a PR.

[2017-07-09 00:41] mac-s-g commented on #75
posted #76

Bundle size looks quite a bit better.

I could continue to improve bundle size by:
* replacing react-tooltip dependency with lightweight built-in pop up
* investigating size of babel-runtime dependency
* investigating size of inline-style-prefixer
* investigating size of all the base-16 style stuff

[2017-07-09 01:00] mac-s-g commented on #75
published react-json-view@1.10.4

it's down to about 230kb total.

still pretty large, but quite a bit better

[2017-07-09 01:00] #75 closed

[2017-07-09 03:59] mac-s-g commented on #67
i went ahead and resolved this by removing the react-icons dependency and creating my own icon components.

*positives:*
* no more warnings!
* smaller overall bundle size without react-icons dependency

*negatives:*
* takes a little longer to add a new icons (though i'm not sure i'll need any more than what's currently being used)

pr is here: #77

I'll comment and close once that's merged and pub

[2017-07-09 03:59] mac-s-g commented on #53
i went ahead and resolved this by removing the react-icons dependency and creating my own icon components.

positives:

no more warnings!
smaller overall bundle size without react-icons dependency
negatives:

takes a little longer to add a new icons (though i'm not sure i'll need any more than what's currently being used)
pr is here: #77

I'll comment and close once that's merged and published

[2017-07-09 04:05] mac-s-g commented on #53
merged and published

+ react-json-view@1.10.5

really glad that's done.

[2017-07-09 04:05] #53 closed

[2017-07-09 04:06] mac-s-g commented on #67
merged and published

react-json-view@1.10.5

really glad that's done.

[2017-07-09 04:06] #67 closed

[2017-07-09 06:31] brendo commented on #75
Thanks!

[2017-07-09 06:56] mac-s-g commented on #74
just posted #78

that allows you to pass `false` or `null` to the `name` property.

when you pass one of those two values, you'll get something like this:

![root-false](https://user-images.githubusercontent.com/4097374/27991861-10eec6d6-6439-11e7-884f-a795acd5f482.png)

[2017-07-09 07:10] mac-s-g commented on #74
published!

+ react-json-view@1.10.6

let me know what you think

[2017-07-09 07:11] #74 closed

[2017-07-09 17:12] shanielh commented on #74
Amazing. Thanks 👍🏼

[2017-07-09 21:37] mac-s-g commented on #73
what is the expected behavior?

do you think the edit-box should always pre-populate with current value ?

[2017-07-10 02:37] mac-s-g commented on #73
posted #79

that also includes collapsible functions and tests - but edit box will always pre-populate with the current variable value.

I'll update when that's merged and published

[2017-07-10 03:18] mac-s-g commented on #73
merged and published

[2017-07-10 03:25] #73 closed

[2017-07-10 04:44] mac-s-g commented on #72
sorry I haven't gotten to this yet.  This issue is the next one on my list.

[2017-07-10 04:45] mac-s-g commented on #71
I haven't forgotten about this, i just couldn't get to it this weekend.  I should be able to address it soon.

[2017-07-10 16:55] shawninder commented on #71
No pressure, thanks for putting this on your list :)

[2017-07-17 04:31] mac-s-g commented on #72
just posted #80 which does the following:

onEdit, onAdd, and onDelete do not succeed when the associated callback returns false.

when a callback returns false, a "validation error" indicator pops up in the top right of the RJV container.

I'll update when that's merged and published.

[2017-07-17 04:41] mac-s-g commented on #72
published: react-json-view@1.10.8

let me know what you think.

[2017-07-17 04:41] #72 closed

[2017-07-17 20:29] mac-s-g commented on #72
i found a bug in 1.10.8.

published 1.10.9 with a fix

[2017-07-29 21:20] mac-s-g commented on #71
okay, i believe the issue is resolved.

basically, once an expand or collapse action is made by the user, the component takes control of it's collapsed state rather than relying on props.

can you take a look and make sure that the behavior is what you'd expect?

merged with #87

published to npm with [react-json-view v.1.11.4](https://www.npmjs.com/package/react-json-view)
you can also play aroun

[2017-07-29 21:20] #71 closed

[2017-08-01 23:29] mac-s-g opened #89 "Style Request: Edit box should fit input size"
The default height of the text-area is too tall for single line inputs. The text-area should be the same size as the input, and grow as needed. This would also eliminate any jank seen when toggling edit mode.

https://www.reddit.com/r/reactjs/comments/6qz2ig/json_viewer_with_editor/

[2017-08-02 04:10] wangzuo commented on #89
you may try [react-input-autosize](https://github.com/JedWatson/react-input-autosize)

[2017-08-02 06:36] novemberde opened #90 "Custom Validation Error Support"
There's only 'validation error' if src data is not valid.
I want to put custom message make sure to our country's client as our language.
So, custom error message is necessary to notify validation error for other language.

Thank you for considering my opinion :)

[2017-08-02 17:00] shawninder commented on #71
Hey, I'm kind of busy these days but I will come back to this and test it, probably some time next week but it could be later. Thanks a lot for doing this!

[2017-08-03 21:04] hex13 opened #91 "GUI propositions"
- when in edit mode I would like a property value to be changed after pressing `return` key (now it's only mouse supported) and to be cancelled after pressing `escape` key.
- I would like also to be able to enter edit mode by double clicking either property key or property value
- how to rename a key of property? ;(
- it would be nice if `tab` key (or arrows, whatever) allowed for navigating betwe

[2017-08-04 03:32] StupidHod opened #92 "Add collapse callback for render"
Hi, I'm a fans of 'react-json-view', it's very cool and beautiful.

But the chrome don't respond when I want to render huge object. I think it's will be great to add a callback to decide whether to collapse a node depends on the index and the depth of the node.

[2017-08-04 08:22] weinot opened #93 "Does react-json-view support React 0.14.x？"
When I import this component in React 0.14.8, it throws the error below
[code]

[2017-08-04 08:41] hex13 commented on #91
I wonder maybe it would be even better to enter edit mode by (single) clicking instead of double clicking, as I proposed.

[2017-08-04 18:10] appsmehta commented on #92
+1. Chrome freezes when the object is too big. Also,  I understand that we have a depthCollapse option, but a button to toggle expansion of all records or first few records from a depth level would be really helpful.

[2017-08-06 14:45] JerryCauser commented on #67
Thank you, man!

[2017-08-07 11:46] makamekm opened #94 "Editing a key name"
Is it possible to edit a key name on an object?

[2017-08-08 06:19] shybyte opened #95 "The updated_src after an onEdit restores the initial props.src instead of the current props.src"
If you change the src prop and rerender the component it will correctly view the new src. But after a manual edit it will (aside from the manual changed value) restore the initial src prop.

https://codepen.io/shybyte/pen/PKWWqo

I'm already working on a pull request.

[2017-08-09 22:45] mac-s-g commented on #94
not currently - but there have been requests.  I'll leave this issue open to track progress on that feature.

[2017-08-09 23:02] mac-s-g commented on #90
great idea!  i will add this

[2017-08-10 04:24] mac-s-g commented on #95
i think i was a little hasty in pushing this code.

i see what the issue is after looking closer.

you want to take `src` update management out of the component and control changes externally (using callbacks and re-renders).

the reason why `src`  is managed by `state` rather than just `props` is because the component handles `src` internally once it's been rendered.  that idea was to make `onEdi

[2017-08-10 04:38] mac-s-g commented on #95
before I make test-breaking changes, can you test out #100 and let me know if it solves the original issue you pointed out?

[2017-08-10 08:02] mac-s-g commented on #90
this is available via the `validationMessage` prop.
you can update that prop with each distinct validation failure if you'd like.
default is still "Validation Failure".

merged with #101 and published to npm under v.10.11.7

let me know if you have any issues!

[2017-08-10 08:02] #90 closed

[2017-08-10 08:05] mac-s-g commented on #93
sorry about that.  I don't currently have plans to add backward compatibility.

RJV was built with react v15

I'm happy to review PR's though, if anyone is interested in contributing!

[2017-08-11 04:48] mac-s-g commented on #92
try out the latest version (v.1.11.8)

there is a significant performance improvement.

does chrome still freeze up?

[2017-08-11 07:51] shybyte commented on #95
#100 works great for me!  Thanks!

[2017-08-11 07:51] #95 closed

[2017-08-14 12:11] willholley opened #103 "fix license filename"
The license file is misnamed (should be `LICENSE` not LISCENSE`). I suggest correcting it to avoid ambiguity and support tooling which scans dependencies for licenses.

[2017-08-14 19:55] djsmith42 opened #104 "react-json-view is pretty big"
In my project, react-json-view is the 3rd largest dependency, as measured by webpack stats. It's 172KB, minified. It's second only to react-bootstrap (459KB) and react-dom (238KB).

I was surprised by this, so I looked into it a bit, and it appears that Radium is 66KB, but I can't find any other explanation for why react-json-view takes 172KB of JS code.

I thought I would log this as a bug just i

[2017-08-14 20:57] mac-s-g commented on #103
wow, thanks for pointing this out.!

the filename was updated

[2017-08-14 20:58] #103 closed

[2017-08-14 20:58] mac-s-g commented on #104
it's true, the bundle is pretty big.  I think it has to do with my webpack config.
I'll continue to investigate and post updates here.

[2017-08-15 00:40] mac-s-g commented on #104
okay, after some analysis, I was able to reduce the build size from ~216kB to ~150kB.

i published to npm version 1.11.9.

I'm gonna close this issue for now because it's not clear to me what (if anything) else needs to be done.

thanks for bringing this up.  let me know if you see further room for optimization!

[2017-08-15 00:43] mac-s-g commented on #94
i'm organizing issues an this request is encompassed by #91
I will close this, continue to work on the feature, and post updates there.

[2017-08-15 00:43] #94 closed

[2017-08-15 01:53] mac-s-g commented on #91
just posted #96

that includes the following UX updates:
 * double click value to enter edit mode
 * escape key exits edit mode
 * ctrl+enter submits edit form

I'll update when the updates are committed and published

[2017-08-15 01:59] mac-s-g commented on #91
I committed and published to [npm with version: 1.12.0](https://www.npmjs.com/package/react-json-view)

The updates aren't exactly to the suggested spec, but i chose to go with dblclick and ctrl+enter after playing with the UI a bit.

I'll leave this issue open to track renaming keys and possibly improving navigation between properties.

[2017-08-15 02:07] mac-s-g commented on #91
1I updated [the component demo](https://mac-s-g.github.io/react-json-view/demo/) to run rjv 1.12.0

you can test the changes there.

let me know what you think!

[2017-08-15 02:55] djsmith42 commented on #104
With 1.11.9, the size dropped from 172KB to 147KB in my app (15% reduction).

[2017-08-15 05:43] mac-s-g commented on #104
That's kinda strange.  I removed Radium altogether.

I'll open this back up and look around at other projects to see what I might be doing differently.

I'm glad you like the component!

thanks for feedback

[2017-08-17 18:15] mac-s-g commented on #91
regarding renaming a key:  I was thinking that I could add a click event that pops up the key name modal.

the problem is that clicking keys is already associated with a collapse/expand behavior.

I'm wondering if you have any ideas on how that could work?

[2017-08-23 17:58] capaj opened #107 "react 16 warning: t.componentWillReceiveProps(): Assigning directly to this.state is deprecated (except inside a component's constructor). Use setState instead."
[code]
I got this today with react 16 beta 5

[2017-08-23 18:25] mac-s-g commented on #107
thanks for pointing this out.  I'll resolve as soon as I get a chance.

[2017-08-29 05:20] mac-s-g commented on #107
I installed react and react-dom at `16.0.0-beta.5` and built my project.  I'm not seeing any warnings.

I tried running with both `process.env.NODE_ENV = 'production'` and `process.env.NODE_ENV = 'development'`

Here's a screenshot to show my console when building with `process.env.NODE_ENV = 'development'`:
![react-16-build](https://user-images.githubusercontent.com/4097374/29805478-ddab98b6-8c3e

[2017-08-29 20:02] dieseldjango opened #108 "Test dependencies should be devDependencies not peerDependencies"
I'm trying out your excellent package, and getting a lot of peer dependency warnings on package install for stuff like, chai, nyc, istanbul, etc. I'm not sure why these are listed as peerDependencies when they are presumably needed only for development. It would help to cut down the noise if those were moved where they belong under devDependencies.

[2017-08-29 23:06] mac-s-g commented on #108
you are absolutely right.  thanks for pointing that out.  i will update as soon as I have a chance.

[2017-08-30 15:42] capaj commented on #107
I have this when I run a showcase for my library react-bound, here: https://github.com/capaj/react-bound/tree/master/e2e-test

just clone, npm i and `npm run showcase`
when you open the browser try editing some input

[2017-09-01 00:41] mac-s-g commented on #107
okay, i did not test editing with React v16.
thanks for the update.  I'll update after trying that.

[2017-09-01 22:40] #107 closed

[2017-09-01 23:25] mac-s-g commented on #107
published to + react-json-view@1.12.1

[2017-09-02 00:32] capaj commented on #107
@mac-s-g thanks, that worked splendidly

[2017-09-07 13:56] shawninder commented on #71
Ok, I finally got around to testing this and it's working wonderfully!

[2017-09-07 16:40] KieranWebber opened #111 "Empty items shouldn't be expandable"
Empty arrays and objects should not be expandable. It adds excess height to the tree and clutters the UI. This is especially relevant on a tree that is pre expanded.

Removing the dots from inside the curly braces or brackets ([] or {}) in the UI and making it unexapndable will much more clearly communicate the fact its empty.

<img width="322" alt="screen shot 2017-09-07 at 17 45 03" src="https:/

[2017-09-07 17:07] mac-s-g commented on #111
I agree.  I'll get a PR up for this as soon as I have time.

[2017-09-09 01:34] mac-s-g commented on #108
I tightened up the build quite a bit with #110 .
that includes the update you requested @dieseldjango .

I'll update this thread when the updates are merged and published to npm.

[2017-09-09 01:37] mac-s-g commented on #104
minor update: got it down to 142kb with build updates in #110 . That will be published shortly.  I'm still pretty stumped about why the build is so large.

[2017-09-09 02:00] djsmith42 commented on #104
Have you tried using one of the webpack bundle visualization plugins? Might shed some light.

[2017-09-09 02:35] mac-s-g commented on #104
Yes, you can run `./docker/debug.sh` from the root to produce a json bundle analysis compatible with most analysis gui's. The file will be saved to `/debug/tree.json`.   I've used that to remove/replace large dependencies where possible.  I can't get much further by removing packages.

I'm thinking that a build configuration setting is increasing the bundle output size from webpack.  I've added mi

[2017-09-09 03:02] mac-s-g commented on #108
updated and published to npm v 1.12.2

[2017-09-09 03:02] #108 closed

[2017-09-09 04:04] mac-s-g commented on #111
updated with #113 and published to [npm under 1.12.3](https://www.npmjs.com/package/react-json-view)

`+ react-json-view@1.12.3`

let me know if that meets your expectation.

[2017-09-09 04:04] #111 closed

[2017-09-09 04:05] mac-s-g commented on #93
I did add support for the early release of react 16

[2017-09-09 04:08] mac-s-g commented on #92
there have been some significant performance improvements since this was posted.

I'm gonna close for now.  Please let me know if you're still experiencing issues and I'll be happy to re-open.

[2017-09-09 04:08] #92 closed

[2017-09-09 19:52] mac-s-g commented on #89
react-input-autosize isn't working well because it doesn't work well.  I'm trying out [react-textarea-autosize](https://www.npmjs.com/package/react-textarea-autosize) now.

[2017-09-09 20:56] mac-s-g commented on #89
react-textarea-autosize is an improvement.

as long as it doesn't increase the size of my build too much, i'll add this feature.

[2017-09-10 03:01] mac-s-g commented on #89
merged #114 and published to npm under [react-json-view@1.12.4](https://www.npmjs.com/package/react-json-view)

`onEdit` input scales vertically with input.

I also deployed the updates to the [demo](https://mac-s-g.github.io/react-json-view/demo/dist/).

[2017-09-10 03:01] #89 closed

[2017-09-20 05:45] smitreverie opened #115 "Feature request: Please add support for JSON schema"
It would be a great solution for generating rest API tryout consoles if JSON schema support is added.

[2017-09-20 17:12] mac-s-g commented on #115
thanks for the feedback!  I'll take a look at what that feature entails and update here when I have some time.

[2017-09-21 06:31] sksbtps opened #116 "Callback feature request"
If the json is big It takes some time to load. So, can we have a callback once the data is ready to show?

[2017-09-21 10:19] zheeeng opened #117 "Request supporting on 'onSelect' and 'onCopy' events."
As title as requested, hope we can pass callbacks to handle selecting the items of JSON object and success copied data.

[2017-09-22 03:56] mac-s-g commented on #117
I can definitely add an `onCopy` event.

can you give me more info on what you mean by `onSelect`?

[2017-09-22 04:00] mac-s-g commented on #116
what do you mean by "ready to show"?

would behavior be any different than wrapping the component and using the `componentDidMount` method?

[2017-09-23 07:17] zheeeng commented on #117
`onSelect` cloud be also named as `onClick` or `onDataClick`. When we click a data, it triggers a callback. I'm writing tool displaying JSON object which may contain normal URL, image URL, data array, we can pick the data and then open a modal to choosing a data parser to handle URL or data. Nowadays the workaround is using the `onDelete` callback which always returns false to simulate the `onClic

[2017-09-23 21:43] mac-s-g commented on #115
ah, i see. so you'd like to use JSON Schema to add validation to input changes (add/edit to src object).

is that right?

[2017-09-23 21:47] mac-s-g commented on #116
I'm closing this for now because I think you can create this behavior by using react's built-in lifecycle methods on top of RJV

for example:
[code]

if you don't think this is a valid solution, let me know and i'm happy to open this back up.

[2017-09-23 21:47] #116 closed

[2017-09-23 22:44] mac-s-g commented on #117
i posted #118

that add support for callback functions to be specified to the `enableClipboard` prop.

from the PR:
`enableClipboard` prop now supports a callback function rather than just boolean `true` or `false`.

[code]

I'll update here when that is merged and published to NPM.

[2017-09-23 22:51] mac-s-g commented on #117
#118 is merged and updated component is published to [npm](https://www.npmjs.com/package/react-json-view) under `react-json-view@1.12.5`

[2017-09-23 22:53] mac-s-g commented on #117
I'll work on adding an `onSelect` so you don't have do use so many workarounds!

[2017-09-24 02:34] zheeeng commented on #117
@mac-s-g Thanks!

[2017-09-24 05:39] sksbtps commented on #116
Actual problem is, If your json is big, It will take approx 2 secs before opening. Now, for those 2 sec you don't know whether it is working or not. So, if you want to wrap this component (JSON VIEWER) in a ant design Modal and show it then the modal takes 2 sec to open up. So, I wanted to know If there is anyway, to know if JSON viewer is ready to render the data so that till then I can show the

[2017-09-24 06:16] mac-s-g commented on #116
I was thinking you wanted to show some sort of loader.

you're going to need some asynchronous rendering behavior so that you can

there's probably a better solution than setTimeout for async rendering, but you can try something like this:

[code]

[2017-09-25 03:49] mac-s-g commented on #117
added `onSelect` with #119

I'll update when that's published to npm

to make the ux feel smooth, i had to replace `double-click` edit shortcut with `ctrl+click`.

that's because `single-click`ing a value now triggers `onSelect` (when it's defined)

you can get more info about that in the "keyboard shortcuts" list at the bottom of the [demo page](https://mac-s-g.github.io/react-json-view/demo/dist

[2017-09-25 03:58] mac-s-g commented on #117
published updates to [npm](https://www.npmjs.com/package/react-json-view) under `react-json-view@1.13.0`

you're my only `onSelect` user so far, so let me know if that meets your requirements.

[2017-09-25 04:02] #117 closed

[2017-09-25 04:12] zheeeng commented on #117
Wonderful! I will update my feature implementation this afternoon!

[2017-09-25 06:17] smitreverie commented on #115
Yes, also if an item is added to an array the new item should be created based on schema definition and not variable, required fields are not allowed to be deleted, type restriction, useful error generation etc. etc. I think you get my point. react-jsonschema-form does all this but it generates forms.

[2017-09-26 11:39] secreter opened #120 "cost too much time when nesting json data"
When json data nesting a lot ,the function  setState ({json}) will spend a lot of time,even more few seconds,thats should be a bug

[2017-09-26 20:15] mac-s-g commented on #120
can you post more info about this?

what is the src you're passing in?

how can I replicate?

[2017-09-28 08:28] donaldpipowitch commented on #115
It would also be really nice to see descriptions of a property on hover ❤️

[2017-09-28 14:13] hnhatr opened #121 "ReferenceError: window is not defined"
From the latest version, server-side rendering produces following issue

ReferenceError: window is not defined
    at C:\Users\hnhatr\Downloads\reactGo-master\node_modules\react-json-view\dist\main.js:1:150552
    at C:\Users\hnhatr\Downloads\reactGo-master\node_modules\react-json-view\dist\main.js:1:150507
    at e.exports (C:\Users\hnhatr\Downloads\reactGo-master\node_modules\react-json-view\dis

[2017-09-29 17:16] mac-s-g commented on #121
i haven't tested ssr.  i'll take a look as soon as i get a chance.

[2017-10-01 19:38] mac-s-g commented on #120
I'm gonna close this for now.  I'm happy to open it back up if I can get more information describing the issue.

[2017-10-01 19:38] #120 closed

[2017-10-01 22:18] mac-s-g commented on #115
i'm on pause with this feature for now.

I added [ajv](https://www.npmjs.com/package/ajv) as a dependency which seems to be the best option for json schema validation.  Unfortunately, it almost doubled my build size.

I can consider including ajv as a peerDependency rather than including it by default.

that means you would have to install it explicitly for the feature to work.

do you think that

[2017-10-01 22:37] mac-s-g commented on #121
@hnhatr  i'm having trouble reproducing the error.

can you tell me more about what tools & config you're using for server-side rendering?

is there a github link that will give me some more info about your build?

[2017-10-01 22:48] mac-s-g commented on #121
also, @hnhatr , it looks like you're not the only one running into "window is not defined" issues when using server-side rendering.

a [google search](https://www.google.com/search?q=%22server+side+rendering%22+%2B+%22window+is+not+defined%22&oq=%22server+side+rendering%22+%2B+%22window+is+not+defined%22&aqs=chrome..69i57.10725j0j1&sourceid=chrome&ie=UTF-8) shows quite a bit of people running into

[2017-10-02 03:39] donaldpipowitch commented on #115
I'd be fine with that. :)

[2017-10-03 06:15] smitreverie commented on #115
Or you can add this feature in the form of an extension to the original library.

[2017-10-03 15:46] wintercounter commented on #91
With CTRL+Click then?

[2017-10-03 15:48] wintercounter opened #122 "Add ability to edit raw JSON"
I'm really missing the ability to be able to edit the raw JSON. Would be nice to have a switcher in the upper-right corner, which would change to a textarea and vice versa.

[2017-10-04 22:15] nicolodavis commented on #104
Have you considered exporting an ES module in addition to the minified version in the npm?

Quite separately, I recently switched to Rollup from Webpack in https://github.com/nicolodavis/boardgame.io/blob/master/rollup.npm.js and saw some savings in library size (it may help your project as well).

[2017-10-06 06:31] mac-s-g commented on #122
i like the idea.  i'll take a look at how much work that would take and update here.

[2017-10-06 06:50] wintercounter commented on #122
I already implemented this on my own at my app, would be nice to get rid of that code :) Btw, don't forget to stringify as `JSON.strigify(obj, undefined, 4)` to make it look pretty in the textarea also.

[2017-10-14 19:03] mac-s-g commented on #104
thanks for the tip @nicolodavis !  I'll look into this as soon as I get a chance. :+1:

[2017-10-19 17:18] Rid commented on #121
I'm having the same issue, none of the hacks seem to work as the plugin is loaded using webpack before the global can be set.

I believe the included lib with is causing the issue is:
https://github.com/zenorocha/clipboard.js/blob/a55c9ac513da6e6d01dfd6ceed9a930c596cf7e4/src/clipboard-action.js#L141

[2017-10-20 17:23] un000 opened #124 "JSON primitives support"
How can I highlight json like
`123`
Or
`"random string"`
because these are valid JSONs.

Thank you!

[2017-10-23 04:14] mac-s-g commented on #124
@un000 what behavior would you like to see with valid JSON input that is not an array or an object?

[2017-10-23 12:53] un000 commented on #124
I have JSON-schema like this:
![image](https://user-images.githubusercontent.com/19488486/31889436-81bbaf64-b808-11e7-929f-3190fff1bfff.png)

It means that JSON
[code]
would be interpret as valid.

`123` will be a root element and equals 123
![image](https://user-images.githubusercontent.com/19488486/31889979-42bc3962-b80a-11e7-8614-da4aa461b6d0.png)

[2017-10-23 18:49] un000 commented on #124
I did some changes here https://github.com/mac-s-g/react-json-view/pull/125
to show what I want.

But now it's hard to implement copy & edit button

[2017-10-24 23:05] LaurieSReynolds opened #126 "Is there a way to display line numbers?"
Thank you for a great component!    Is there currently a way to display line numbers?

Example....
[code]

[2017-10-24 23:27] mac-s-g commented on #126
there's not currently support for line numbers but that's a great idea!  :+1:

i'll tag this as "feature request" and comment when after I can check it out.

[2017-10-24 23:44] LaurieSReynolds opened #127 "Has anyone done alternate row shading or what can I use to select for alternate row shading"
We would like to shade alternate rows and I am trying to determine what selectors I can use for this.

[2017-10-24 23:44] LaurieSReynolds commented on #126
Thank you!

[2017-10-25 00:26] mac-s-g commented on #127
sounds like you want to get that "text editor" feel.  are other people interested in that style?

after playing around with the html a bit, i can see that this would take some structural work (and so would line numbers).

i was able to fake it by setting constant line height and applying a background gradient, but this caused other behavioral problems and unexpected consequences.

i just tried bac

[2017-10-25 07:22] LaurieSReynolds commented on #127
Thank you!  We would like line numbers and shading to make it easier when viewing two json files side by side and comparing them.

[2017-10-29 04:14] JasonEtco opened #128 "Lowercase True/False"
Hey there! Dig the lib, but there's this one nitpick I have. The boolean types (true/false) are title-cased, and I can't think of a reason why, since in JS itself it's all lowercase (and obviously in the JSON objects this component would receive).

I can open up a PR to change it if you'd like 👍

https://github.com/mac-s-g/react-json-view/blob/15f00b4966a6f608496ebd830f4227d1b4aa3b37/src/js/compon

[2017-10-30 16:12] mac-s-g commented on #128
i posted #130 to update patch version so that changes can be published to npm.  i'll update once that's published.

[2017-10-30 16:15] JasonEtco commented on #128
Cool, thanks for getting it it so quickly!

[2017-10-30 17:40] MrLeebo opened #131 ""Copy to Clipboard" icon does not work inside a bootstrap modal container"
I built a repro using https://esnextb.in/ but it seems that the site's Save function is currently broken.

Repro: https://gist.github.com/MrLeebo/84a3059a7a33993c34567172ec77698f

1. Go to https://esnextb.in/
2. Copy the "code.js" file into the Code tab
3. Copy the "index.html" file into the HTML tab
4. Package tab should auto-populate but you can check it with the "package.json" file
5. Click the

[2017-10-30 17:56] mac-s-g commented on #128
np!

published `+ react-json-view@1.13.2` to [npm](https://www.npmjs.com/package/react-json-view)

[2017-10-30 17:56] #128 closed

[2017-10-30 17:58] mac-s-g commented on #131
thanks for reporting the issue!

I'll try to replicate as soon as I have a chance.

[2017-11-05 15:23] bluepeter opened #133 "Demo links in README are broken"

[2017-11-05 22:31] mac-s-g commented on #133
thank you for pointing this out!  I'll post a PR shortly.

[2017-11-07 01:30] #133 closed

[2017-11-18 01:38] dghewrhrwehw opened #135 "docker workflow"
hey.. love your work and curious how you delineate your usage of shell scripts (`./docker/`, `./entrypoints/`) and npm (e.g. `"npm run dev-hot"`). I'm interested in using some ideas from this repo to organize my own work. Are there pros/cons to running in the docker container?
Always trying to improve my workflow!

(p.s. happy to repost this on stackoverflow or the like)

[2017-11-18 02:39] mac-s-g commented on #135
hey, i'm really glad you reached out!

There are some awesome benefits that come with adding docker to your
workflow.

I don't have time to give you a breakdown tonight, but I can follow up in
the morning.

Maybe I can enumerate some of that conversation into a readme and post it
in `/docker/` to help share with others.

Mac

On Fri, Nov 17, 2017 at 5:38 PM, dghewrhrwehw <notifications@github.com>

[2017-11-18 09:21] indolent-developer commented on #121
This is due to style loader. module of webpack. https://github.com/webpack-contrib/style-loader/issues/272#issuecomment-345274784.

I guess we have to use different style loader if you want to support server side rendering. Do you support server side rendering ?

[2017-11-19 20:31] mac-s-g commented on #135
I'm gonna attempt to motivate this discussion with some high level info and then drill in a bit.

#### What is Docker
docker manages software "containers".
a container is a stack of "images" that define an environment from the OS up.
for example, the container used with this project has the following composition:

[code]

#### Motivations for Docker
 * _environmental consistency_
   * this means I

[2017-11-30 04:55] ajbdev commented on #124
Not to nitpick, but a primitive is not valid JSON according to the JSON spec. I only know this because of time I've spent banging my head against the wall a lot when using a fairly strict parser against an API that was rather flexible with it's return values.

Here's a good SO answer on the topic: https://stackoverflow.com/questions/41732737/is-a-primitive-type-considered-json

Perhaps given the g

[2017-11-30 05:10] un000 commented on #124
https://tools.ietf.org/rfc/rfc7159.txt
Just look the rfc

“Hello world” is the valid string

[2017-11-30 05:21] ajbdev commented on #124
I retract my comment then. Looks like the RFC I was referencing is outdated. Good to know!

[2017-12-07 08:19] Alxandr opened #137 "Support custom "default" collapsing"
Currently, the collapsed property accepts either a bool or a number. It would be great if we could provide a function of the form `(path: string) => boolean` do decide what to collapse. Where it would typically be called with `.foo.bar` if I have an object structure like `{foo: {bar: {....}}}`. This way I would be able to create simple rules like "everything that starts with `_` should be collapse

[2017-12-07 22:43] mac-s-g commented on #137
i think this is a great idea.  I'll tag this as "feature request".

[2017-12-11 04:03] mac-s-g commented on #131
@MrLeebo would you mind testing with `react-json-view@1.14.0`?  the clipboard code changed a bit and i'm wondering if it impacted this issue.

[2017-12-11 15:38] MrLeebo commented on #131
@mac-s-g Thanks, but it doesn't seem to have made a difference.

[2017-12-12 10:40] Alchemist-V commented on #121
I am seeing this as well, any leads anyone?

[2017-12-12 13:43] indolent-developer commented on #121
@Alchemist-V are you using server side rendering?  if yes can you disable it if not then you should use different style loader.
something similar to https://github.com/kriasoft/isomorphic-style-loader

[2017-12-13 01:28] ajbdev opened #138 "On hover"
One of the next enhancements I'm interested in is the ability to add callbacks for hovering over properties and values. Do you think this addition would be suitable for the core library?

I'm thinking something relatively straightforward for the interface:

- onPropMouseOver: callback for hover into JSON object properties
- onPropMouseOut: callback for hover out JSON object propperties
- onValueMo

[2017-12-13 19:48] stephenshank commented on #131
@mac-s-g Thanks for such an awesome project! I am experiencing the same issue. Happy to help if possible.

[2017-12-13 19:57] liester opened #139 "OnEdit: TypeError: [x] is not a function"
Hello,
  First, thank you for creating this library.  I'm hoping it saves me from building a custom json editing solution.  It looks like when 'OnEdit' of provided as a prop when you click on the value portion of a property (not object or array) an error is thrown.
Below is from your demo site:
https://mac-s-g.github.io/react-json-view/demo/dist/
Based on the documentation's mention of double clic

[2017-12-13 20:01] mac-s-g commented on #139
thank you for reporting this.  I'm seeing the same error get thrown.  I'll investigate asap

[2017-12-14 15:32] liester opened #140 "Double-Click when onEdit enabled"
In the Features portion of the documentation it says when 'onEdit' is enabled there should be Double-Click Edit Mode.
![image](https://user-images.githubusercontent.com/6137420/33999839-3836fb7e-e0b1-11e7-940c-c807e3c72de1.png)

I'm not getting this functionality with the following usage:
![image](https://user-images.githubusercontent.com/6137420/33999893-60058d46-e0b1-11e7-801e-5ea9622cf56a.png)

[2017-12-14 15:39] liester commented on #140
After looking through the other issues I saw this one: https://github.com/mac-s-g/react-json-view/issues/91
Which wintercounter references the Ctrl+Click for editing.  Then looking more closely at the demo it does say Ctrl+Click for editing.  So maybe its just a lag in the documentation in the README.md.  It doesn't solve me touch screen problem but at least it makes sense.

[2017-12-15 09:18] Rid commented on #121
@indolent-developer have you got this working with SSR? If so could you point me to a working fork/pull req?

[2017-12-16 12:48] indolent-developer commented on #121
@Rid I was able to work this via disabling server side rendering of this component. No fork or pull.

[2017-12-18 07:28] Alchemist-V commented on #121
@indolent-developer I got it working by trying to load the component lazily. Something like this:

`
var ReactJson = null;
/**
 * Component to initate loading of Context json
 * for an asset.
 */
class JsonEditor extends React.Component{
	constructor() {
		super();
        }

       componentDidMount() {
		require.ensure(['react-json-view'], function() {
			try {
				ReactJson = require('react-jso

[2017-12-18 07:52] indolent-developer commented on #121
@Alchemist-V looks fine to be.

We do need a longterm solution for this though. A PR from some one. What does author have to say ? I am currently tied up :(

[2017-12-20 09:34] Rid commented on #121
@Alchemist-V I can confirm it's working, thanks! I think a fork/pull req using isomorphic-style-loader is better but I don't have time to test right now

[2017-12-20 21:08] mac-s-g commented on #121
I'm totally cool with swapping out the loaders if that fixes the issue.  anyone want to post a PR?  I'm happy to test, merge, and publish.

[2017-12-21 05:54] indolent-developer commented on #121
i can try in few weeks currently tied up.

[2017-12-21 12:50] danie16arrido opened #141 "Copy to Clipboard for properties too"
Can we have the option to enable Copy to clipboard for the properties value too within an object?
Currently it is enabled only for objects.

![output-example-monokai-2](https://user-images.githubusercontent.com/26549236/34256455-5a942d26-e64d-11e7-8d29-74d1a6d00353.png)

[2017-12-21 17:25] Alchemist-V commented on #121
Thanks @Rid ! Let me see if i can file a PR for this. Hope the above hack works for all in the mean time.

[2017-12-22 20:23] mac-s-g commented on #140
Thanks for pointing this out.  I updated the docs for now - but I'm planning on playing around with `dbl-click` edit a bit more.

would anyone else prefer double click edit mode rather than ctrl+click?

[2017-12-22 21:36] #139 closed

[2017-12-22 21:37] mac-s-g commented on #138
as long as there's no major performance impact, i have no problem with it.

[2017-12-22 22:07] mac-s-g commented on #139
issue is resolved and published to [react-json-view v1.14.1](https://www.npmjs.com/package/react-json-view)

[2017-12-22 23:20] mac-s-g commented on #140
I remember now that using double-click to trigger edit mode interferes with the `onSelect` listener.  `onSelect` is invoked every time a value is clicked.

[2017-12-22 23:23] mac-s-g commented on #141
[I posted a PR](https://github.com/mac-s-g/react-json-view/pull/145) on the `copy-everything` branch.

I'd want to remove code duplication and add some tests before merging.

More importantly, I want to know if this is a feature that others are interested in adding.  The icons are adding up, and adding an additional icon to value hovers may feel overwhelming.  but if this is something that others

[2017-12-22 23:24] mac-s-g commented on #140
opening this up to the community for discussion.  would you like to see the keyboard and mouse controls change?

[2017-12-22 23:27] mac-s-g commented on #91
closing this issue because most features have been implemented.  feel free to open a new issue with specific feature requests if you feel this one was not completed.

[2017-12-22 23:27] #91 closed

[2017-12-22 23:28] mac-s-g commented on #93
closing this issue as wontfix

[2017-12-22 23:28] #93 closed

[2017-12-22 23:41] mac-s-g commented on #135
I migrated this documentation to [./docker/README.md](https://github.com/mac-s-g/react-json-view/blob/master/docker/README.md) with pr #146 and #147.

i'm closing for now, but i'm happy to continue the discussion!

[2017-12-22 23:41] #135 closed

[2017-12-23 03:26] buchanae commented on #135
Docker, a containerized filesystem, webpack, npm, entrypoints, babel, transpiled CSS, source maps, a dozen bash scripts, nearly a dozen npm commands. All for a single React component. Gotta say, I miss the days where you just opened an HTML file.

Anyway, I came here to contribute and ran into 30-60 minutes of trouble getting a dev server running. I think your dev server config now requires the Do

[2017-12-23 06:50] mac-s-g commented on #135
@buchanae - I hear you!

thanks for pointing out the path related dependencies on docker.  I resolved those with #148.

I also tested the standard workflow, and, well... it's broken.  I fixed it with #149.
are you interested in pulling the latest code and trying one more time?
[code]

It's working for me now, so I hope your problems will also be solved.  I also hope the docker tools haven't discou

[2017-12-23 20:44] buchanae commented on #135
Excellent work! It works for me now. Thank you.

[2017-12-27 03:10] mac-s-g commented on #131
updating title because I was able to use copy-to-clipboard when using a semantic-ui modal rather than bootstrap.  I'll dig in to bootstrap a bit.

[2017-12-27 03:23] mac-s-g commented on #131
also verified that the issue does occur when using a [react-bootstrap](https://github.com/react-bootstrap) modal at versoin 0.31.5

[2017-12-27 03:54] mac-s-g commented on #131
relevant threads:
1. https://stackoverflow.com/questions/38398070/bootstrap-modal-does-not-work-with-clipboard-js-on-firefox
2. https://stackoverflow.com/questions/46107274/copy-text-to-clipboard-not-working-in-bootstrap-modal-dialog

here is the only solution I can find:
https://github.com/zenorocha/clipboard.js/issues/155#issuecomment-217372642

I hope that helps.  I'm closing this issue because

[2017-12-27 03:54] #131 closed

[2017-12-28 00:57] mac-s-g commented on #137
@Alxandr (also relevant for @ajbdev) I added a `shouldCollapse` callback method.

you now have full control over what fields are collapsed by default

[code]

[2017-12-28 00:59] #137 closed

[2017-12-28 01:03] mac-s-g commented on #137
now wondering if I should just combine callback support with the original `collapsed` prop...

[2017-12-28 02:22] #141 closed

[2017-12-28 02:23] mac-s-g commented on #141
published with [react-json-view@1.15.2](https://www.npmjs.com/package/react-json-view).

[2017-12-28 04:14] ajbdev commented on #137
This is great. Thanks for this!!

[2018-01-03 03:43] vignesh-almond opened #156 "How to customize the values inside the viewer ?"
How do I get a particular value say a string from the JSON tree and underline that particular value. I used a ref to access the JSON viewer and tried underlining the particular string but does not seem to work. Is there any other way I can underline text inside the JSON viewer. What I want is to let the user know that the string is a hyperlink.

[2018-01-03 03:50] mac-s-g commented on #156
good question.  I'm not sure how you would go about doing that at the moment.

what do you think would be a good way to do it?  maybe RJV could apply a classname spec and you can apply global styles?

[2018-01-03 03:56] vignesh-almond commented on #156
I am not sure how to got about it either as I am new to react and javascript,  but I found this
https://github.com/alexkuz/react-json-tree#advanced-customization.

Something like this possible??

[2018-01-03 04:04] mac-s-g commented on #156
yea, I could add something like that.  it would be a custom style callback.  so, given property name, namespace and value, you can apply custom values.

I'll re-purpose this issue as a feature request for custom style callbacks.

[2018-01-03 07:27] andreevich opened #157 "TypeScript definitions"
Is there support typescript definitions?

[2018-01-07 01:06] mac-s-g commented on #157
There's not - and I'm honestly not sure how to go about implementing that.  It would be cool to get some help on this one.  I'll tag it with "help wanted".

[2018-01-10 08:46] fanpaa opened #159 "If my_json_object contains Moment.js object, it will crash"
**snapshot**:

![](http://p2.cdn.img9.top/ipfs/QmQohguW3CMQeHvExPpnmVxFVqrcFXohKuK9TqkAd8wzZE?2.png)

maybe  the **regex rule** reason?

[2018-01-10 18:53] mac-s-g commented on #159
@fanpaa nice find.  and thanks for reporting it.  I can look into it as soon as I have some time.  I'm also happy to review and test pr's :)

[2018-01-14 09:45] Leland-Kwong commented on #156
Could we maybe do a custom render function instead, to make it super flexible?

[2018-01-15 21:10] mac-s-g commented on #159
the parser is failing because the Moment class contains some `regexp` properties.
there's not currently support for `regexp` types.

I'm working on adding that in now.  should have an updated package published in an hour or two.

[2018-01-15 23:19] #159 closed

[2018-01-17 00:49] myangsc opened #161 "enableClipboard doesn't work"
I have a modal the body contain a reactjson object

<ReactJson
            src={jsonData}
            theme={'monokai'}
            Collapsed={false}
            name={null}
/>

When I l click the copy button, there is no problem, but nothing is really get copied. Do I need to enable other thing in order to make it work, thanks

[2018-01-17 01:00] mac-s-g commented on #161
@myangsc thanks for reporting.  I'm closing this as a duplicate of #131.  please read through the resolution there for more detail.

Basically, copy-to-clipboard functionality doesn't work inside of *bootstrap* modals.  it's a known bootstrap bug.  I've tested RJV in non-bootstrap modals to verify the bug is not coming from this package.

[2018-01-17 01:00] #161 closed

[2018-01-17 01:17] myangsc commented on #161
thanks

[2018-01-17 01:28] myangsc commented on #161
react modal can just set enforceFocus={false}

[2018-01-17 01:32] mac-s-g commented on #161
does that resolve the clipboard issue?

[2018-01-22 08:36] stxwd46 opened #162 "paste support"
rjv now support copy, but do you have a plan to support paste?

[2018-01-22 18:58] mac-s-g commented on #162
@stxwd46 thanks for posting!  can you describe the idea a little more?  what would it mean to support paste?

[2018-01-23 02:31] stxwd46 commented on #162
for example，I copied a json from outside，and I want to paste directly into rjv

[2018-01-23 19:39] mac-s-g commented on #162
@stxwd46  you should be able to paste in by enabling `onEdit` and `onAdd`.  you would have to click the button to either add or edit a value and then you can paste content in.

does that satisfy your use case?

[2018-01-23 20:19] yoiang opened #163 "Feature Request: static types when editing"
Hello! I'm unclear if this relates to #124, I had trouble understanding the ask there so I apologize if this is a duplicate!

When editing a field with a primitive type, regardless of the type `onEdit` passes a result whose `new_value` is a string, rather than maintaining the previous type. It would be great if editing maintained the original type!

_Edit:_
My mistake, I just noticed the two sets

[2018-01-23 20:23] yoiang commented on #163
My mistake, I just noticed the two sets of controls. Is there a way to only show the type save set?

[2018-01-24 02:17] stxwd46 commented on #162
`onAdd` can only paste a key, and `onEdit` can only paste a value. When I want to paste a whole json, it can not satisfy me.

[2018-01-24 20:02] mac-s-g commented on #162
I'll leave this open in case others are also interested in the feature.  but I need a better idea of how this would actually work before I can think about implementing something.
what would trigger a paste event?  ctrl+v anywhere on the rjv component?  where would json get posted?  can you highlight a value and paste into it?
at a high level, you get the same functionality by:
 * adding a key
 * e

[2018-01-24 20:14] mac-s-g commented on #163
when editing a value, RJV attempts to parse and detect primitives.  When it does, you'll get an additional submit button indicating the detection.

If you submit with `ctrl+enter` and there's a detected primitive, the primitive will be submitted by default.

I hope this answers your question.  If not, don't hesitate to re-open this issue.

[2018-01-24 21:16] yoiang commented on #163
I apologize, I should have been clearer! It’d be great to have a component
prop option to only allow type valid values from edits.
On Wed, Jan 24, 2018 at 3:14 PM Mac Gainor <notifications@github.com> wrote:

[2018-01-24 21:31] mac-s-g commented on #163
would string be a valid type?  that's the default type for all inputs currently.

[2018-01-24 21:40] mac-s-g commented on #163
oh, maybe you're thinking there could be a prop (say `editType`) that dictates the input type.
so if `editType = "integer"`, then you would see a number input and only numbers would be valid inputs.

is that what you're thinking?

[2018-01-25 03:15] stxwd46 commented on #162
I have an idea, rjv can add another mode like [monaco-editor](https://github.com/Microsoft/monaco-editor), and users can switch between two modes.
for example
A mode
![image](https://user-images.githubusercontent.com/7361933/35368769-f4110efa-01bf-11e8-9e81-919bfcb657cc.png)

B mode
![image](https://user-images.githubusercontent.com/7361933/35368778-fee391d6-01bf-11e8-9b64-3e312e94fadf.png)

Users

[2018-01-25 15:22] yoiang commented on #163
I was thinking for pre-populated JSON where a member has a value of a certain type already specified having an prop that makes sure a user can only update that member with a value of the same type that it already is.

[code]
In this example with this prop enabled editing `iAmANumber` would only show the UI for accepting a valid **number** type where `i_am_a_string` would only show the UI for accep

[2018-01-26 18:30] mac-s-g commented on #162
Thanks again for the feedback.  I don't think the request fits the direction of this project, so I'm going to close this request.  I could see this being a feature for a higher order component that depends on RJV.

Feedback is still welcome here from anyone interested in this type of functionality.

[2018-01-26 18:30] #162 closed

[2018-01-30 19:54] yoiang commented on #163
Would you be open to a PR with just this prop, one that hid the UI to save a value as a **string** and only showed the type safe UI when editing?

[2018-01-31 06:33] mac-s-g commented on #163
yes, but how will you know the type without a json schema?

[2018-01-31 19:13] yoiang commented on #163
I'm assuming that the component's one set of controls currently determine the type of a member based on the value of that member.

When a JSON Schema isn't present the prop would:

* only allow editing values that already have a value (and thus their type can be determined)
OR
* will also allow assigning **null** with a value and then that value becomes the determining type. This second one seems

[2018-02-01 00:59] mac-s-g commented on #163
so with option 1, if you edit an integer value, you would only be able to input an integer.  is that right?

[2018-02-01 03:56] yoiang commented on #163
Exactly, the UI, as it currently does for the type safe input, would only
let you save a valid number. Integer vs float I feel less strongly about
since they aren't basic Javascript types
On Wed, Jan 31, 2018 at 7:59 PM Mac Gainor <notifications@github.com> wrote:

[2018-02-01 04:06] mac-s-g commented on #163
yea that makes sense.  maybe call the prop `staticTypes` or something?
I'd be okay with adding a feature like that.
If you're comfortable posting a PR, I can definitely review.  I can also take it on, but I might not be able to get to it for a while.

I'm gonna re-open this issue as a `staticTypes` feature request.

[2018-02-02 01:12] yoiang commented on #163
I have some free time coming up, I'll take a stab at it 😊

Static types as in the prop ensures that the type of the member does not change?

[2018-02-03 01:52] mac-s-g commented on #163
Cool. Yea, that's what I was thinking.

On Feb 1, 2018 5:13 PM, "Ian G" <notifications@github.com> wrote:

[2018-02-03 07:42] yoiang commented on #163
🤘

[2018-02-13 22:42] dyennam opened #166 "collapsed property not overriding manual change."
Hello, in the demo i have set COLLAPSED = 1. Then expand the ARRAY object.
After expansion I try to modify the COLLAPSED = 2, this causes the rest of the object to expand to same depth as ARRAY (Which is expected). But once i set the COLLAPSED = 1, the rest collapse but the the ARRAY object stays expanded. My end goal is to have a expand and collapse button that work even if the user has manually

[2018-02-13 23:34] mac-s-g commented on #166
@dyennam thank you for brining this up.

when a user clicks to expand or collapse, expand/collapse state is introduced within RJV.  this is intentional given the way the component is currently designed.  that is - you can define the default state for expand/collapse, but the user takes over from there.

an alternative would be that RJV handles no expand/collapse built-in functionality; but instead

[2018-02-13 23:44] dyennam commented on #166
@mac-s-g Thanks for the quick reply.

It would be nice, if we could have a bool overrideManualCollapse prop, such at we can have a value that forces external actions to override the default behavior. Such as if overrideManualCollapse is true, the collapsed property will get passed to all elements irrespective of if the user has touched the ui manually or not. This way RJV will handle expand/collap

[2018-02-15 17:13] danie16arrido opened #167 "Copying field without """
Is there an example on how to implement callbacks when copying to clipboard.
eg: copy a value and then capitalize it?

Thanks,

[2018-02-16 10:17] subhendukundu opened #168 "Not working with react-materialize"
I am not sure if its an issue. I am just trying to render ``` <ReactJson src={src} /> ``` with a sample JSON. But the components are not rendering with react-materialize.
Getting an error of ``` Uncaught Error: A cross-origin error was thrown. React doesn't have access to the actual error object in development. See https://fb.me/react-crossorigin-error for more information. ```
Any idea how do I r

[2018-02-21 06:33] eyalap opened #169 "Copy Clipboard marking disappears after 5-6 seconds"
In the demo here and when I use this component in my code:
1. Select an item to copy with clipboard - See that the icon is checked
2. Wait a few seconds without moving or move (doesn't matter)
3. The check mark disappears.

[2018-02-21 16:21] mac-s-g commented on #169
Thanks for reporting this. I'll take a look as soon as I can.

On Feb 20, 2018 10:33 PM, "Eyal Appelberg" <notifications@github.com> wrote:

[2018-02-21 17:27] mac-s-g commented on #169
@eyalap the checkmark appears after successfully copying to clipboard.  it's on a timeout, so it disappears after 5.5s.

the source for that is here: https://github.com/mac-s-g/react-json-view/blob/master/src/js/components/CopyToClipboard.js#L43

that timeout is by design; but it sounds like it's not intuitive.  how would you like to see that behavior improve?

[2018-02-21 17:29] mac-s-g commented on #168
that sounds a bit out of scope.  that's react grinding to a halt due to SOP/CORS violation.
can you give me more info about what your source code looks like?

what is the value of `src` that you're passing to the RJV component?

[2018-02-21 17:32] mac-s-g commented on #167
@danie16arrido - sorry for the delayed reply.   An event does not get thrown onCopy, so you would not be able to implement the example you described.

if you wanted to implement this in a fork, you could add an `onCopy` prop and call it when the clipboard icon is clicked.

that code would need to live in the `handleCopy` method here: https://github.com/mac-s-g/react-json-view/blob/master/src/js/co

[2018-02-21 22:13] pravdomil commented on #140
+1

[2018-02-22 22:06] danie16arrido commented on #167
@mac-s-g thanks for taking time answering my query. it does answer my question and I will give it a go later in the week and report back.
Changing of subject how hard will it be to change the  copy  behaviour in order to copy the value without quotation marks
`"string" :  "this is a test ..."` and get `this is a test ...`
Will it be the same as capitalizing?
thanks,

[2018-02-24 17:47] Rennzh opened #172 "OnEdit bug with es5 implementation"
I added the onEdit callback for examples but did not respond when I click check button
![tim 20180225014451](https://user-images.githubusercontent.com/9619419/36633293-b386787c-19cd-11e8-893d-ae83928d6094.png)

[2018-02-24 19:36] mac-s-g commented on #169
closing this for now because I don't believe there's a bug

[2018-02-24 19:36] #169 closed

[2018-02-24 19:37] mac-s-g commented on #172
@Rennzh thanks for reporting.  I will attempt to re-create the issue.

[2018-02-24 19:38] mac-s-g commented on #168
@subhendukundu gonna close this for now unless I get more info.  I'm doubting that this is an RJV issue.

[2018-02-24 19:38] #168 closed

[2018-02-24 21:54] mac-s-g commented on #172
@Rennzh I'm not having any issues when running tests locally - but I'm testing the jsx implementation.

I also see the [demo](file:///home/mac/dev/git/personal/react-json-view/demo/dist/index.html) appropriately logging to the console when I submit an edit.

can you give me more detail about your environment to help me recreate your issue?

[2018-02-24 21:57] mac-s-g commented on #126
closing this for now as it hasn't gathered additional feedback and does not fit the current direction for source code

[2018-02-24 21:57] #126 closed

[2018-02-24 21:58] mac-s-g commented on #127
closing this for now as it has not gathered addl feedback and does not fit the current direction for source code

[2018-02-24 21:58] #127 closed

[2018-02-24 22:02] mac-s-g commented on #167
it's kindof a consistency thing.  right now all values are copied as valid JSON values.

so you could paste the result directly into a json parser.  I don't think I'd want to change that outside of incorporating a prop to allow custom copy behaviors.

[2018-02-25 02:35] Rennzh commented on #172
@mac-s-g thank you for you response. I downloaded the demo folder and directly modified this file:[main.js](https://github.com/mac-s-g/react-json-view/blob/master/demo/dist/main.js), then I ran the index.html in chrome.
My encoding environment is win10,chrome64

[2018-02-25 04:34] Rennzh commented on #172
@mac-s-g I found the reason: I ran the build script and use dist/main.js in test.html, but lifecircle did not fire when the component was mounted, so event listener has not been added

[2018-02-25 05:47] Rennzh commented on #172
@mac-s-g It's wrong way to use in the test.html and I change the jsonView1 to below, it work well
[code]

[2018-02-25 22:54] samdenty99 opened #174 "Cannot find SourceMap 'data:application/json;base64"
[code]

**Version:** 1.16.1
**React:** 16.2.0

[2018-02-27 17:12] mac-s-g commented on #174
@samdenty99
I'm not really sure where to start.
Is this something that just started happening with 1.16.1?

[2018-03-05 01:39] #172 closed

[2018-03-06 10:22] paulmichaelxd commented on #156
Hey! I would also love to use this feature. And in the case of adding styles to an individual value, it would also be useful to add the ability to bring an individual value into view (uncollapse the path to that value if it is currently hidden)?

Not sure how much effort this would entail, but this would be particularly useful for a project at my work. I'd be willing to contribute some time to a P

[2018-03-06 19:53] mac-s-g commented on #156
@paulmichaelxd thanks for the feedback.  I'm willing to support the custom style feature and I welcome PR's.

I think it's possible to implement the custom collapse behavior via the `shouldCollapse` callback.

You can use the namespace (path) of a value to inform shouldCollapse when to return true/false.  Does that satisfy the requirement to bring individual values into view?

[2018-03-06 22:50] paulmichaelxd commented on #156
@mac-s-g Yes, shouldCollapse looks like that should satisfy my requirement! Thanks, didn't realize that was an option (I'm a bit new to this package).

Thanks for the quick response & looking forward to the custom style feature!

[2018-03-07 04:02] MistQue opened #175 "The dialog of adding the key of JSON only displays few seconds"
Hi, I follow the [demo.js](https://github.com/mac-s-g/react-json-view/blob/master/demo/src/js/components/Demo.js) to implement the onAdd, onEdit and onDelete functions.
When I add the key of JSON, the dialog only displays few seconds.

Version: 1.16.1
React: 16.2.0

[2018-03-07 19:11] mac-s-g commented on #175
@MistQue I'm not able to replicate the issue.  Can you post some more detail?

[2018-03-07 19:11] mac-s-g commented on #174
@samdenty99 is this an issue?

[2018-03-09 02:30] naivefun opened #176 "Cannot display array of objects"
Array of primitive type is working fine, but with array of objects it cannot recognize at all.
<img width="501" alt="screen shot 2018-03-09 at 10 26 19 am" src="https://user-images.githubusercontent.com/10683378/37187228-5b5fa982-2384-11e8-80b0-3deecbda8831.png">

[code]

[2018-03-09 03:54] MistQue commented on #175
@mac-s-g Hi, I found the cause of this issue, but I have no idea to solve it. The cause is that my program has a refresh function, the code shows as below
[code]
The refresh function is call by another JS file
[code]
If I remove the refresh function from my program, the dialog of onAdd is ok

[2018-03-09 06:51] mac-s-g commented on #176
Thanks for pointing this out! I'll look into it as soon as I can.

On Thu, Mar 8, 2018, 6:30 PM PeiSong <notifications@github.com> wrote:

[2018-03-11 05:08] dyennam opened #177 "Future Plans for XML-Viewer Support?"
Do you have any future plans on integrating a similar look and feel for an XML viewer?

[2018-03-13 11:36] lemming commented on #176
Had the same issue recently when using MobX as Array.isArray for observable array is always false (https://mobx.js.org/best/pitfalls.html#issues-with-decorators).

Judjing by screenshot above looks like `result.collection.mainOutline.children` is not recognized as array as well.

I tried json provided by @naivefun on recent version from master and it looks ok:

![2018-03-13 14-26-43](https://user-

[2018-03-13 16:30] mac-s-g commented on #176
@lemming thank you for checking this out.

I confirmed what you posted.  If I copy the raw JSON that @naivefun posted, and use it as `src`, RJV appears to render appropriately.

@naivefun is it possible that elements in your `src` object are not observable?

[2018-03-15 06:03] paulmichaelxd commented on #156
@mac-s-g Hey again, I was looking into this feature more and I was just curious what you meant by "custom style callback" in your earlier comment. Would we be limited to adding a className to the label/value? Or would it be more like @vignesh-almond 's example: https://github.com/alexkuz/react-json-tree#advanced-customization.

It would be incredibly useful if a rendering function was exposed via

[2018-03-15 16:51] mac-s-g commented on #156
@paulmichaelxd thanks for pointing me toward the react-json-tree example.  I like what they're doing with style customization.  I'll take a closer look at what it would take to support something like that as soon as I get some time.  Realistically, I'm pretty limited until the weekend after next.  I'm always open to community contributions as well.

[2018-03-15 16:54] mac-s-g commented on #177
@dyennam that's an interesting idea.  I have not considered adding XML support (or forking to a different component).  I'll leave this open for now to see if it gathers community support.

[2018-03-15 16:55] mac-s-g commented on #174
closing this issue

[2018-03-15 16:55] #174 closed

[2018-03-15 17:30] mac-s-g commented on #175
@MistQue  I just looked at the code.  I could add a prop to let you manipulate the add key modal.  That would fix your issue.
I might be able to get to it this weekend - I might be able to get to it this weekend..

[2018-03-15 17:31] mac-s-g commented on #176
I'm going to close this for now.  @naivefun let me know if you're still having issues.

[2018-03-15 17:31] #176 closed

[2018-03-15 18:30] paulmichaelxd commented on #156
No worries! I was just curious what you had in mind for this implementation. I'm sure maintaining this is a lot of work, and we all appreciate it a lot!

I'd be happy to take a look at implementing this over the next couple weeks, but I need some time to familiarize myself with everything first since I just recently started using this.

[2018-03-16 07:54] L3tum commented on #104
From what I can gather the biggest part of the bundle seems to be Facebook's Flux, right? Maybe dropping that in favor of State/Props would be good

[2018-03-19 13:59] bzemms opened #179 ""Copy to Clipboard": only for root element"
Hi,
Please add an option to customize on which level to present the "copy to clipboard" icon
e.g: on on root or a number as done for the collapse option

[2018-03-23 01:30] mac-s-g commented on #104
@L3tum you're right on.  I need to get that removed.  Hopefully I'll get some time in the near future to optimize.

[2018-03-23 01:31] mac-s-g commented on #179
@bzemms I like this idea.  I'll apply "feature request" label.

[2018-03-26 16:27] mcclayton opened #180 "Make `array-key` values toggleable"
Currently arrays are displayed with an array-key value, it would be great if this were something that could be toggled on and off via a prop so that we could display arrays as:
[code]
Instead of:
[code]

[2018-03-26 21:13] mac-s-g commented on #180
good idea, thanks for the feedback.  I'll tag this as a feature request.

[2018-04-06 06:16] ChuckJonas commented on #157
I could maybe take this on when I have some free time

[2018-04-06 22:07] mac-s-g commented on #157
@ChuckJonas that would be awesome!

[2018-04-10 19:59] lauracvieira commented on #177
I am also looking for something like that. I can't find any library that does the same job, only libraries that format the XML, but not prettify it like you do with Json

[2018-04-12 22:44] johnking opened #181 "src property must be a valid json object"
Need help on a  weird problem:

I am using node `util.inspect` to get JSON data.

- If I pass it directly to `react-json-view` component, it won't work and responds with  `src property must be a valid json object`.
- If I dump the JSON data to a file and manually assigned it to `react-json-view` component, it works.

I compared the console output and the dumped version, but I could not tell the di

[2018-04-13 23:41] johnking commented on #181
I use a workaround to resolve this issue.

[2018-04-13 23:41] #181 closed

[2018-04-13 23:43] mac-s-g commented on #181
okay, thanks.  it's possible that some attributes of your input were not observable and that was causing issues.  stringifying and then parsing is kindof a hack but it should fix the issue

[2018-04-14 01:37] johnking commented on #181
@mac-s-g, thanks a lot for this great repository!

[2018-04-15 01:16] pimterry opened #182 "Editing keys"
Is there any way to edit a key? It'd be really useful to be able to rename properties.

I see this was mentioned in #91, but it looked like it got closed without this being added, as far as I can tell.

[2018-04-16 11:33] pimterry commented on #182
@mac-s-g makes sense! I'm imagining something pretty close to the current implementation I think:

* An extra button when mousing over keys, i.e. there should be an edit button on the `object` line here:
  ![screenshot from 2018-04-16 13-28-20](https://user-images.githubusercontent.com/1526883/38806637-284ae980-417a-11e8-9ebd-fd4741955e02.png)
  When clicked, the key should become a text box, with

[2018-04-17 17:46] mrchief opened #183 "collapseStringsAfterLength responsive display"
Currently it requires a prop `collapseStringsAfterLength` with a fixed number to show ellipsis. This approach doesn't work well with responsive views. Is there way to make this number grow/shrink based on the viewport size?

[2018-04-18 11:13] YagoLopez opened #184 "Flag to make json editable programatically"
Hi. I've searched the repo for a way to make the json editable in the component. As far as I know you can make the json editable defining a "onEdit" prop but I would need a flag to mark the state of the component as editable/non-editable. Is there a way for this? Thanks.

[2018-04-18 23:10] brmscheiner opened #185 "Interactive demo link is broken on the npm page"
Just a heads up :)

https://www.npmjs.com/package/react-json-explorer

Links to

https://mac-s-g.github.io/react-json-view/demo/

Which gets a 404 womp womp

[2018-04-19 01:52] mac-s-g commented on #185
I'll fix that as soon as I can. Thank you for reporting it!

Mac

On Wed, Apr 18, 2018, 8:10 PM Ben Scheiner <notifications@github.com> wrote:

[2018-04-20 15:51] mac-s-g commented on #184
Hi @YagoLopez
I want to make sure I understand your request.
You would like to manipulate the `onEdit` behavior with props instead of state.  To do that, you would pass in the field that is being edited.
Does that sound right?

[2018-04-21 12:13] YagoLopez commented on #184
Hi @mac-s-g. Yes, it is confusing... I was asking for a way to control globally the component props (onEdit, onDelete, onAdd, etc.) with only one boolean, but I think I must implement this behaviour manually, something like this (pseudocode):
[code]

Now I have other question. I would like to be able to delete objects but not its properties individually. That is, the "delete icon" should only appe

[2018-04-24 07:29] houshuang commented on #180
This would be very useful to us as well, came here looking for that. Thanks for a great component!

[2018-04-24 17:46] dyennam opened #186 "Callback for expand / collapse actions"
Hello,
I am trying to find a way to have a callback every time the user tries to expand / collapse the view.
The problem I am trying to fix is that I have RJV show up on Material-UI Dialog view.
So when user expands the nested objects manually the view goes below the page. But If user like an expandAll button the view reRenders to center of page.
So is there a way i can have a call back every time

[2018-04-25 21:35] franklixuefei commented on #157
@ChuckJonas Have you had time to add the typings?

[2018-04-25 21:42] mac-s-g commented on #183
I think what you're looking for is more control over css.  You don't want to use `collapseStringsAfterLength` prop, you want to specify the text-overflow css attribute to improve how responsive your display is.  I'm gonna link this to #156 and close as duplicate.

Thanks for the feedback!  if you feel i'm misunderstanding the request feel free to post here and I can re-open.

[2018-04-25 21:42] #183 closed

[2018-04-25 21:50] mac-s-g commented on #186
@dyennam thanks for the feedback.  this seems like a pretty reasonable request - but I'd like to avoid throwing events at the scope of the window.  can you think of an alternative solution that would solve this issue for you?

[2018-04-25 22:15] dyennam commented on #186
@mac-s-g
Hello,
I tried adding a onClick event handler at the root element, but as you know these events did not trickle down to RJV. I am not sure about an alternative solution. In my opinion, all i would need to fix the issue would be to find a way to figure out every time user clicks anywhere on the RJV component, so that i can reposition the root view accordingly. I am open to suggestions / id

[2018-04-25 22:52] mrchief commented on #183
`text-overflow` is not of much help. It can only do clip/fade/ellipsis which is not what I want. I want the text to wrap, so that its still visible. Or if ellipsis are shown, at least the full text is visible with tooltip or something to that effect.

#156 can only help applying additional styles but like I said, I'm not looking for simply applying styles.

[2018-04-26 00:32] franklixuefei commented on #157
Filed PR for this issue: #187

[2018-04-30 15:45] #157 closed

[2018-04-30 16:52] franklixuefei opened #188 "[TypeScript] index.d.ts not copied under `node_modules/react-json-view/`"
After pulling the latest version (1.16.2), I still don't see `index.d.ts` under `node_modules/react-json-view/`, nor is it under `dist`. Is there any steps missing? Could you look into this?

![image](https://user-images.githubusercontent.com/1334982/39439348-22e5d2ba-4c5c-11e8-97d4-f6bce319d846.png)

![image](https://user-images.githubusercontent.com/1334982/39439359-29a08550-4c5c-11e8-9a68-18cad

[2018-04-30 16:56] mac-s-g commented on #188
Sorry, I'm not using typescript, so I'm doing this somewhat blind.

I merged the changes and ran the build.  Does the build need to produce the typescript definitions as an additional asset?

You can test the build output by pulling the code and running `npm run build`.

Make sure you see what you need reflected in your local `/dist/` folder after running the build.

[2018-04-30 18:02] franklixuefei commented on #188
@mac-s-g I looked into this, and it seems that it is unrelated to the result of running `npm run build`. `npm run build` builds the code into `main.js`, which is all it is expected to do. However, `index.d.ts` should bu published together with other files like `LICENSE`, `README.md`, etc, outside of `dist` folder, directly under `react-json-view` folder. This is related to how you publish the pack

[2018-04-30 19:05] mac-s-g commented on #188
okay, looking into it now

[2018-04-30 19:14] mac-s-g commented on #188
added this: https://github.com/mac-s-g/react-json-view/commit/a22907ccb40e132698382ae0edcb61a29add4f81

[2018-04-30 19:14] mac-s-g commented on #188
and published to [1.16.3](https://www.npmjs.com/package/react-json-view)

[2018-04-30 23:37] franklixuefei commented on #188
@mac-s-g Sorry just got a chance to reply. Unfortunately, in my project, I still see this.
![image](https://user-images.githubusercontent.com/1334982/39455330-b05ea670-4c94-11e8-81e6-effa66b8f355.png)

However, if I manually move `index.d.ts` out of `dist`, it works. like this
![image](https://user-images.githubusercontent.com/1334982/39455338-bc7f6e62-4c94-11e8-9ac9-77a5d72e5569.png)

[2018-05-01 00:59] franklixuefei commented on #188
@mac-s-g Sorry for spamming, but I asked someone who also publishes typescript definition file for their project. He just uses `npm publish` and leverages `npmignore` to ignore the files he doesn't want to publish, which is what you are doing as well. I think this is it, and `index.d.ts` should appear in the published package as long as it is not ignored. Not sure if this helps you.

FYI - https:/

[2018-05-01 01:17] mac-s-g commented on #188
Thanks, I think I see what needs to be done. I'll give it a shot when I get
home tonight.

On Mon, Apr 30, 2018, 5:59 PM Xuefei Li <notifications@github.com> wrote:

[2018-05-01 02:25] franklixuefei commented on #188
@mac-s-g BTW, this line can be reverted once you have the right fix.

https://github.com/mac-s-g/react-json-view/blob/a22907ccb40e132698382ae0edcb61a29add4f81/package.json#L58

[2018-05-01 02:28] mac-s-g commented on #188
yea, i've changed that back locally.  I'm not really sure why `index.d.ts` didn't get published with 1.16.2.  The file does not exist in `.npmignore`.

[2018-05-01 02:49] mac-s-g commented on #188
i think i figured it out.  gimme a sec.

[2018-05-01 02:56] mac-s-g commented on #188
the deed is done! :raised_hands:
https://unpkg.com/react-json-view@1.16.5/

the `files` key in `package.json` was gating my published files to only include `/dist/` (and a few other whitelisted files).  Now `.npmignore` should be the only files missing from the published module.

thanks for working through that with me @franklixuefei .  let me know if the 1.16.5 is working for you!

[2018-05-01 05:42] franklixuefei commented on #188
@mac-s-g Thanks! Looks great! This is exactly what I was looking for. Thanks a lot for working this out with me!

[2018-05-01 06:27] garygentry commented on #188
../../node_modules/react-json-view/index.d.ts(268,1): error TS1046: A 'declare' modifier is required for a top level declaration in a .d.ts file.

const ReactJson: React.ComponentType<ReactJsonViewProps>;
[code]

[2018-05-01 07:44] franklixuefei commented on #188
@garygentry Thanks for reporting! Hmm weird, it doesn't repro for me... Which typescript version are you using? I'm using 2.8.1. Probably that matters. I tried both with and without `declare`, and it turned out that both work for me. I'll file a PR for adding `declare` to line 268.

[2018-05-01 13:39] kompot commented on #188
@franklixuefei I tried both 2.8.1 and 2.8.3 - error mentioned by @garygentry is in both for me (and your fix obviously fixes that, waiting for PR to be merged, thx)

[2018-05-01 14:45] garygentry commented on #188
Originally 2.7.2, but just tried 2.8.3 and same thing.  This breaks the entire build so looking forward to merge..

[2018-05-01 15:38] franklixuefei commented on #188
@garygentry @kompot Sorry about this guys. Until this PR is merged, you can roll back to using v1.16.1.

[2018-05-01 19:47] mac-s-g commented on #188
hopping on this now

[2018-05-01 19:59] #188 closed

[2018-05-01 20:02] mac-s-g commented on #188
fix is merged and published under 1.16.6

[2018-05-01 21:32] franklixuefei commented on #188
@mac-s-g Thanks Mac!

[2018-05-29 17:36] ronjouch opened #192 "[Feature request] Add options to handle big input"
This is a very imprecise issue.

The component takes lots of time/resources to render huge JSONs and can bring the page to a crawl (with reason).

I was starting to implement some manual checks to avoid that (e.g. *"if input is an array longer than 20 elements, only jsonview the first 20, and add button to copy the full thing to clipboard"*, but then I end up re-implementing things (e.g. clipboard

[2018-05-30 12:37] mansdahlstrom1 commented on #121
Is there any updates on this ?

[2018-06-01 10:02] Tenga commented on #174
@mac-s-g Our team has also encountered this issue with v1.17.0, however we also tried v1.16.0 to attempt answer your question to the original author of this bug, and the same problem is there. :)

[code]

I've taken a look at the `/dist/main.js` where this occurs and it seems there is a block of code that seems to be responsible for generating the inline source map (?), however, due to it's format

[2018-06-05 14:14] charlieprynn commented on #121
I'm also interested in this.

[2018-06-05 21:25] mckennatim opened #194 "mobile"
Has anyone styled this for mobile?

[2018-06-05 21:29] mckennatim opened #195 "string_number"
Ok so what is the json trick to have the editor read a number input as a string? In the demo adding a digit to "string_number" turns it into an int. quoting it like '12345' turns it into "'12345'"

[2018-06-06 01:28] mac-s-g commented on #195
when editing, try clicking the top check mark instead of the one sitting next to `int 10`.

![top-check-mark](https://user-images.githubusercontent.com/4097374/41010721-1c02664e-68ee-11e8-956d-989c22180353.png)

does that solve your problem?

[2018-06-06 14:55] mckennatim commented on #194
`      MozTransform: 'scale(1.3)',
       zoom: '130%'
    },
    rjv: {
      fontFamily: 'Tahoma, Geneva, sans-serif',
      fontStretch: 'ultra-condensed'
    }`
with these changes it gets me most of the way there. It's not the reading of the text on a mobile device that is the problem. It's just that the svg buttons are a little small for finger touch. I t would be cool to be able to scale the

[2018-06-06 14:59] mckennatim commented on #195
It was very clear once I dove in and put rjv in a project (for admins to set up config on IOT devices). To me now it is very intuitive and cool and easy to use.

[2018-06-06 14:59] #195 closed

[2018-06-06 22:58] garmonma commented on #177
Yes, I am interested in this feature. Such a great idea!

[2018-06-07 00:01] franklixuefei opened #196 "[React 16.3+] [Proposal] Migrate to React 16.3+ new lifecycles."
I propose to make some changes to migrate the codebase to supporting the React 16.3+ new lifecycles. I can take a stab at it and send a PR.

[2018-06-07 00:03] franklixuefei commented on #196
@mac-s-g I also want to confirm with you if it's okay to bump up the react peer dependency minimum version to 16.3.2?

[2018-06-07 01:42] franklixuefei commented on #104
@L3tum @mac-s-g
I did a profiling using webpack profile, and the result shows that the whole lib takes up **382kb in stat size**, and the largest contributors are `lodash.curry`, `lodash.flow`, `prop-types`, `babel-runtime`, `base16`. I guess you can't do anything with `babel-runtime`, neither much with `lodash` related packages, because they are internal dependencies. Probably consider knocking o

[2018-06-07 02:56] mac-s-g commented on #196
@franklixuefei I am 100% behind that!  thanks for contributing

[2018-06-07 03:01] mac-s-g commented on #192
I definitely think there's room for performance improvements.  I'm interested in finding ways to boost performance without adding additional props.  Are there ways we can be smart with large inputs entirely under the hood?
However, I'm definitely open to reviewing and merging PR's that address a community need.

[2018-06-07 05:32] franklixuefei commented on #196
@mac-s-g Thanks Mac! I filed a PR #197

Please don't be scared by how many lines of code I changed. I didn't change any of the logics, but just migrated to the new lifecycle hooks and removed some anti-patterns.

[2018-06-12 14:08] janouser11 commented on #121
Same^

[2018-06-12 14:24] janouser11 commented on #121
Last week I had this working perfectly fine, after restarting project I only get a window is not defined error.  Any suggestions?

Thanks

[2018-06-13 13:40] jackdh opened #198 "Example custom theme link is broken."
It currently points to

https://github.com/mac-s-g/react-json-view/blob/master/dev-server/dev-server.js#L81

which 404's

[2018-06-13 13:42] jackdh commented on #198
Added pull request.
https://github.com/mac-s-g/react-json-view/pull/199

[2018-06-26 04:34] tavisca-prathod opened #200 "Tried this with react.net and getting an error as 'setTimeout' is not defined at Anonymous function"

[2018-06-29 19:01] franklixuefei commented on #196
Close due to #197

[2018-06-29 19:01] #196 closed

[2018-06-29 19:09] mac-s-g commented on #198
pr was merged :+1:
@jackdh thank you!

[2018-06-29 19:09] #198 closed

[2018-06-30 21:10] arjitkhullar commented on #121
resolved using :
[NextJs Loading Components Dynamically](https://github.com/zeit/next.js/#3-with-no-ssr)

[2018-07-01 15:03] Varad25 opened #202 "Cancel Button of Key Modal doesn't work"
Hello,

Click on cancel button of Key Modal doesn't close the modal.

I can reproduce the issue by starting the dev server on the master branch.

Am I missing something?

Seems like a problem with v1.18.1

[2018-07-02 19:19] franklixuefei commented on #202
@Varad25 Thanks for raising this issue. We recently refactored the codebase so this might be introduced from that. Could you please provide a bit more details on this issue, like steps of reproduction and some screenshots. Thanks!

[2018-07-02 19:20] franklixuefei commented on #202
@Varad25 Also include the React version and browser information.

[2018-07-02 20:17] Varad25 commented on #202
Environment
[code]

Steps to reproduce
[code]

[2018-07-02 21:03] mac-s-g commented on #202
@Varad25 thanks for reporting!
@franklixuefei i noticed the issue while running through the eslint changes.  I posted a fix with #203 .  would you mind taking a look?
it's from the 16.3 pr.  you fixed some of the less-than-perfect state management, and this particular state change didn't migrate well.

[2018-07-02 21:53] #202 closed

[2018-07-05 16:18] mac-s-g commented on #200
@tavisca-prathod I need more information to help you.\

how do I recreate this bug?  I'm not familiar with react.net.

[2018-07-12 13:22] vdelord opened #206 "When the src prop is updated from parent component the edition is broken"
I allow the user to select from different JSON templates and I display them in a ReactJson like that :

So when the state is updated the ReactJson component displays the new json BUT
when I edit a value in this new json, ReactJson tries to update the value on the first json ever displayed by the component since the first load of the page (let's call it initialJson).
Here is the 'edition' object wh

[2018-07-12 21:11] Rikezenho opened #207 "Suggestion: button to get node path"
Hello!
First of all, thanks for the nice plugin! I'll use in a personal project to manage JSON data from an API.

My suggestion:
Would be nice if the plugin had a button to get the current node path.

For example:
[code]
When clicking 'get path', it gets `level1.level2.text`.

The reason is that sometimes, in my personal project, i want to edit only a node in JSON and send back to API, so, in my s

[2018-07-13 13:52] vdelord commented on #206
I've fixed my issue by updating the ObjectAttributes with the new src property on componentDidUpdate.

I'm new to this so I post this comment before looking at how to propose a contribution to the project ;)

[2018-07-13 20:51] mac-s-g commented on #206
@vdelord thanks for reporting the bug!

Can you post a PR with your changes?
If you're comfortable doing that, I can review.
Please bump the patch version in `package.json` with that.
That will make it easy for me to publish the fix.

[2018-07-13 20:54] mac-s-g commented on #207
@Rikezenho Can you use the onEdit events to accomplish this goal?

the payload sent to that event includes an array describing the namespace.
eg: `['level1', 'level2', 'level3']`.
You can translate that to meet your requirement with `const path = namespace.join('.')`

[2018-07-15 11:13] Eric-wh-007 opened #208 "bug ?: cant set property '... ' of undefined"
### desc:
i set src from props
[code]
i got this json
[code]

when i try to edit the field 'rule' throw err
[code]

 no bug when i try to edit 'name' , 'age',  but my json change to this
[code]
the other fields disappear!

 if i set src like that
[code]
no problem！

so  why this bug appear?

[2018-07-17 20:34] danielsantossonos commented on #208
I am having the exact same error.

[2018-07-19 18:58] rsweetland commented on #167
It looks like the `enableClipboard` prop now supports a callback function 👍

My only request (which seems in line with this ticket) is to pass more information. I am trying to copy the JSON path of the node instead of its JSON contents.

@danie16arrido For your use case it looks like this syntax should work:
[code]

You can then intercept the event (the copied text is available at `e.src`) and use

[2018-07-24 09:13] vdelord commented on #208
Hi, I recognize this behavior. This is a clone from #206. I published a PR to fix this problem.
Can you try if it fix your problem ?

[2018-07-24 16:43] mac-s-g commented on #208
@Eric-wh-007 it would be helpful if you could confirm that #206 fixes the issue.

@vdelord thanks for the tip,  I'll take a look at your pr now.

[2018-07-24 16:50] #208 closed

[2018-07-24 16:52] mac-s-g commented on #208
@Eric-wh-007 I believe the issue is resolved with 1.19.1.

[2018-07-24 16:53] mac-s-g commented on #207
closing due to inactivity.  let me know if this is still an issue and i will open it back up

[2018-07-24 16:53] #207 closed

[2018-07-24 16:54] mac-s-g commented on #206
resolved by #208

[2018-07-24 16:54] #206 closed

[2018-07-24 16:55] mac-s-g commented on #200
sorry, i'm closing this because it's not well defined.  i'm happy to re-open if more information is included.

[2018-07-24 16:55] #200 closed

[2018-07-26 07:21] YavuzMetin opened #210 "src Change"
I just want to change the input json file as which file that user selected with some input button or something. Is there any way to do that?

[2018-07-26 18:56] mac-s-g commented on #210
@YavuzMetin .  thanks for posting.  you should be able to change the src attribute and see changes rendered.  if you're having issues with that, I would recommend posting some example code so that someone can help you debug.

[2018-07-26 21:01] YavuzMetin commented on #210
I don't have code right now but I think it's something like that:

import React, {Component} from 'react'
import ReactJson from 'react-json-view'

class App extends Component {
	constructor(props){
		super(props);
		this.handle = this.handle.bind(this);
	}
handle() {
	data = document.getElementById("myfile")
}
render() {
	var data;
	return(
		<div>
		<input type='file' name="myfile" onChange={this

[2018-07-30 13:41] #210 closed

[2018-08-02 23:40] roblim commented on #181
@johnking - I'm encountering the same issue. What was your workaround? @mac-s-g - scratching my head on this one. The json I'm trying to use is super simple.

json string from backend: "{\"s3_target_bucket\": \"sensor config\"}"

I pass JSON.parse("{\"s3_target_bucket\": \"sensor config\"}") into src, but get error. When I parse, etc. in Node, it's fine...

[2018-08-14 21:52] brentluna commented on #182
Any update on this?

[2018-08-18 05:11] KSGUJJAR72000 opened #214 "Page goes entirely blank"
After importing ReactJson  using **import ReactJson from 'react-json-view'** that page goes blank. No Errors appears on console but nothing is showing on that page

[2018-08-20 23:41] siyavash4812 opened #215 "JsonView is acting really weird"
Hello, I just came across your library and its really nice. I have a problem with the library when I try to load it in my app.
As shown in the video it doesn't work as expected. Can you please let me know what I should do or what is causing this??
Is it CSS related by any chance?

**This is how it shows up on my app!**
![faulty](https://user-images.githubusercontent.com/22658677/44372203-c2091100-

[2018-08-22 14:54] MarkShulhin commented on #215
@siyavash4812  You probably put this into some code sandbox. This is what happened to me earlier today. Actually, in the code sandbox, there is a center alignment to all contents by default, which takes effect on the JSON editor as well. All you need to do is adjust the alignment in the CSS.

[2018-08-23 07:21] migratorAlio opened #216 "Need an callback for the data is Formatting, like onFormat"
When the data is pretty big , I need to know the data is being dealing with, and I will put an 'loading' on the  page. But I now cannot find the way to deal with it .

[2018-08-28 15:37] skyoo2003 opened #217 "When copying to the clipboard, string-type value is enclosed in double quotes"
I just want to get only a string value when copying to the clipboard. but, it's enclosed in double quotes. Is there any way to get it?

![bb](https://user-images.githubusercontent.com/9215745/44733615-ea1ff200-ab22-11e8-8fa7-42fcae31c7c5.jpeg)

`"test"` was saved in clipboard. but, I expected it to be a `test`

[2018-09-06 11:18] tomldac opened #219 "Warning produced when using component related to react-async-component-lifecycle-hooks"
When using the react-json-view component the following warning is shown:
Warning: Unsafe legacy lifecycles will not be called for components using new component APIs.

t uses getDerivedStateFromProps() but also contains the following legacy lifecycles:
  componentWillMount
  componentWillReceiveProps

The above lifecycles should be removed. Learn more about this warning here:
https://fb.me/react-a

[2018-09-07 22:49] shauryam opened #220 "onSelect details"
I want to know the jsonPath for the selected component.
Is it possible to get it through the onSelect callback method?

[2018-09-10 03:35] raniantheone opened #221 "[Feature request] Option to escape html entity interpretation when copying"
Hi,
First of all, this is a great component!

Don't know if it's possible to add an option to escape html entity interpretation when copying. For example, if I have a string field which contains "http://site.net/page?param1&timestamp=12345", then the copied result of this field becomes "http://site.net/page?param1×tamp=12345".  ( &times => × )

Thanks!

[2018-09-10 13:56] nicmosc opened #222 "[Feature request] Undo"
I've been looking for a simple json editor to plug into an app and this works great! How difficult would it be to add a `undo` feature for this?

[2018-09-18 06:58] sushantarsenal commented on #182
In the current version, is it possible to replace the textbox with a dropdown(with a list of my own options to select from) while trying to edit values?
<img width="376" alt="screen shot 2018-09-18 at 12 42 14 pm" src="https://user-images.githubusercontent.com/8470688/45669623-539e8980-bb40-11e8-9667-d8b013e5dc35.png">
For example, in this case, I would like to open a dropdown(with Male and Female

[2018-09-19 11:07] sarath-sasikumar opened #223 "[Feature Request] Customize the styling of the key value pair"
Great work on the package !!

I was having a use case, whereby it would be good if we could search the keys in the object and open the corresponding node.

I have managed to do that , using the `shouldCollapse` attribute but it would have been good if I could somehow highlight the node that I had searched for. Is there any way, we can style a particular node. The use case is not to change the them

[2018-09-27 08:32] chocolateonly opened #224 "Can I edit or delete just for a row of Json objects?"
Can I edit or delete just for a row of Json objects?And other is not allow to operate

[2018-09-29 11:59] mahmudulshuvo commented on #215
Hey @siyavash4812 , did you solve this? I'm having the same problem here.

[2018-10-03 03:35] usagi-f opened #225 "font size does not change relative"
I wanted to change the font setting.
But some font-size is specified in absolute value to be evil.

I like a relative unit such as `em`.

https://github.com/mac-s-g/react-json-view/blob/master/src/js/themes/styleConstants.js#L14
https://github.com/mac-s-g/react-json-view/blob/master/src/js/themes/styleConstants.js#L53

- ellipsisFontSize
- dataTypeFontSize

## Big and small font capture

![image](

[2018-10-11 12:34] eyalap commented on #167
@danie16arrido I needed the same thing, I forked the repository and changed a single line, now copy works without apostrophes for strings and still doing JSON.stringify for objects.

[2018-10-11 15:59] Kaijiro commented on #122
Any news about this ? :cat:

[2018-10-12 11:03] wintercounter commented on #122
I just created my own solution based on the component. I'm sharing it, but it's nor complete and has some dependencies, you need to rebuild yourself from it if you want to to use.

https://gist.github.com/wintercounter/ab0f84334f38ce429f18d9dc7bba2c76

[2018-10-15 15:03] skyoo2003 commented on #217
@eyalap Cool. That's what I wanted!
Personally, I hope this work will be reflected in this project as well.

[2018-10-18 01:18] xuchen81 commented on #121
Same error.

[2018-10-19 20:54] dotku opened #227 "It seems won't handle axios ajax update"
I was use axios ajax to update the state, but the tree view won't reflect to the update :(

[2018-10-22 13:18] kkgujjar opened #228 "can not insert json object in array at middle position"
I want to insert in an array at particular index. It always insert at the last.
Or am i doing something wrong.

[2018-10-29 15:16] darrikonn opened #229 "Don't toggle collapse on select/highlight text"
## What?
When highlighting text (in order to copy), `toggleCollapse` is called resulting in a bad UX.

## What I expect to happen
`toggleCollapse` should not be called when highlighting a string, only when it's clicked.

## How?
We can inspect the `window.getSelection` function to check if a text has been highlighted:
[code]

[2018-10-29 15:17] darrikonn commented on #229
I've a local branch ready with the changes (if the issue will be accepted)

[2018-10-30 11:14] darrikonn commented on #229
@mac-s-g your thoughts?

[2018-11-05 12:27] gparonitti opened #230 "defaultValue seems not working as expected"
Or as I have intended it 😄

I have this code:

[code]

But for whatever value I put in the defaultValue={CrossPromotion.crossPromotionDefault} I always obtain `null` as default value. Maybe I am doing something wrong but in that case the readme file should be more explicit in how to use that prop. Anyway, thank you very much, your module saved me a lot of time 🙏 !

[2018-11-05 14:12] tomkiss commented on #121
Same error here.

[2018-11-07 04:31] johnking commented on #121
I am using it with Gatsby, and get the same error.

[2018-11-07 04:57] johnking commented on #121
one note: the hack code does not work for my case.

[2018-11-07 20:28] johnking commented on #121
My workaround has two parts:
1. use conditional rendering in your component like the code snippet below

[code]

2. Modify your webpack config to avoid loading the `react-json-view` during stage `build-html`, something like below:

[code]

[2018-11-08 15:23] darrikonn commented on #121
Is this repo no longer maintained? (this is the most active thread, so I think it's worthwhile to ask this here)

[2018-11-09 06:54] hoangdoan267 commented on #121
For users using nextjs, you can use next/dynamic for this case
`const DynamicReactJson = dynamic(import('react-json-view'), {
  ssr: false
});`

return your json view with data like
`<DynamicReactJson src={yourData}`

[2018-11-11 23:28] prmichaelsen opened #232 "Copy icon causes jitter when mousing over json"
Description:
Hovering over different fields produces UI jitter.

Possible Cause:
Copy icon slightly larger line height than font

Reproduction of Issue:
![2018-11-11_16-25-15](https://user-images.githubusercontent.com/8428140/48319732-ce2ed700-e5ce-11e8-9238-21a6678ca212.gif)

[2018-11-12 17:33] mateosilguero commented on #182
I made a solution for this here: https://github.com/mac-s-g/react-json-view/pull/233

[2018-11-23 08:30] rathish commented on #182
I created quick solution, to render textarea or select based initiValues property.  [check](https://github.com/rathish/react-json-view/commit/960f91755620db443c9d080eee9e64244ea85fe2)

[2018-11-24 16:15] johnking opened #234 "focus and highlight a item programmatically"
Hi @mac-s-g and other contributors

first of all, thanks a lot for this wonderful package.

I have a large json tree with more than 1000 lines, I wonder if we can focus and highlight the line base on the match/selection criteria.

I need some hints or suggestions to implement it if current solution does not support it because I could not figure it out by looking into the docs available.

thanks

-

[2018-11-25 10:40] artempartos commented on #228
👍

[2018-11-29 23:26] AaronTovo opened #235 "Optimization for very large json objects"
I'm working on an app that sometimes has to deal with large json objects that take ~15 seconds to add to the DOM in react-json-view. Are there any plans to provide some kind of optimization for cases like this?

I haven't looked at the source code and I don't really know what's possible. Maybe doing the work asynchronously in the background would work. Or maybe a lazy algorithm could be used to ad

[2018-12-02 15:25] ubmit opened #236 "localhost didn’t send any data"
I can't run the demo using Docker. I'm building the container without any problem running `./docker/build-container.sh`, but when I run the Webpack server ( `./docker/dev-server.sh` ), even though I don't get any error messages on terminal, when I try to access `http://localhost:2000/` on Chrome, I get this error message: `localhost didn’t send any data`. Anyone know how to fix this? I'm using Doc

[2018-12-03 21:17] alexanderabramov commented on #186
@mac-s-g I have a slightly different use case that also needs a collapse/expand callback. I'm trying to put RJV in a table cell in react-virtualized Table, which needs row height explicitly calculated and set. So I basically need a callback any time RJV's height might change so I can recalculate parent's height accordingly. Perhaps onToggleCollapsed, and have toggleCollapsed (/src/js/components/Da

[2018-12-04 13:15] vaclav-purchart commented on #131
I've found similar issue when using `json-react-view` using `@material-ui`. However there is a simple workaround:

[code]

[2018-12-10 02:21] burtonator commented on #235
@AaronTovo

What was your solution?

[2018-12-10 05:43] AaronTovo commented on #235
I assigned a call back function to the shouldCollapse parameter that returned true if the item is an array or object with 10 or more children. That seems to work well with the data I have. Maybe I'll need to tweak it in the future, but it is working well so far.

[2018-12-30 18:34] groovy-tunes commented on #207
I've been trying to implement this, but the copy object doesn't provide you with the key of the element you're trying to get the path to. For example, when I hit the clipboard button and console.log the copy object for the response.encoding path it has no variable with "encoding"

<img width="243" alt="screen shot 2018-12-30 at 1 31 31 pm" src="https://user-images.githubusercontent.com/16852658/50

[2019-01-03 15:07] lokers opened #237 "[Feature Request] Replace `ellipsis` with custom value or single line preview of data"
Similar to `angular-json-tree` library, and the output we see all the time in `Chrome` console, I would like to be able to replace the three expandable ellipsis with custom value, or ideally with preview of the nested data. Perhaps it's already possible? (I didn't find way around)

Here's example, you see signle line of JSON object before expanding...
https://awendland.github.io/angular-json-tree/

[2019-01-03 17:34] ianomad opened #238 "Make the element index optional"
Seems like right now it shows an element index in an array which should be optional

[2019-01-04 14:19] DominicTobias opened #239 "How to get the src after editing"
Hi,

Thanks for the lib. I must be being blind here but I  see that editing the json doc is possible but it's not a controlled component and there also seems to be no `onChange` callback for receiving the updated src. How are we supposed to get the src object after edits?

[2019-01-04 14:20] DominicTobias commented on #239
Nevermind I see there is an updated_src arg in the event callbacks

[2019-01-04 14:20] #239 closed

[2019-01-08 11:11] pravinjadhav7 opened #240 "Long text is breaking the screen"
![image](https://user-images.githubusercontent.com/24220012/50827376-44984d00-1364-11e9-8602-75294b962e16.png) 👎

[2019-01-09 10:48] srivathsa-kavirayuni opened #241 "React Json view gets moved when mouse overs json lines"
In React JSON view, when pointer overs the json lines, producing extra line space between the mouse over line and below line, even though the styling is correct. Help me to get out of this.
Thanks.

![ezgif com-crop](https://user-images.githubusercontent.com/40168293/53004229-c21ca600-3456-11e9-89f3-2fad0db1c782.gif)

[2019-01-16 01:51] chiwoojo opened #242 "Select.namespace and Copy.namespace does not include final path"
Hello,

When copying to the clipboard, I would like to get the final path of the variable rather than the partial. The reason being that I need to do a lookup against the JSON at a later time using the namespace variable. Example:

`
const root = {
  operations: {
    value: {
      key: 5
    }
  }
}
`

When I click on 5, I should be able to see a namespace of ['root', 'operations', 'value', 'key

[2019-01-17 11:28] mstumberger opened #243 "Not showing keys"
Hello,
is there a logical explanation why keys are showing in one component,
in the other I get this:
![image](https://user-images.githubusercontent.com/17837422/51315956-b141d480-1a53-11e9-9b77-f713348b5460.png)

code:
[code]

[2019-01-17 11:47] mstumberger commented on #243
ok got it ...
had to put object in array...
[code]

[2019-01-17 11:47] #243 closed

[2019-01-24 06:43] MinosIE commented on #121
I solved this with the following code:

[code]
If you have a better way, please call me
Thanks

[2019-01-30 09:07] shengbeiniao opened #244 "Long string will overflow,even use collapse"
![image](https://user-images.githubusercontent.com/3301995/51970292-81fa8100-24b1-11e9-8108-d3cf54ebed92.png)

[2019-01-31 04:58] jmburdette commented on #217
You can use the callback to remove the quotes and re-copy it to the clipboard:

<ReactJson
    enableClipboard={this.onCopy} />

    // override default behavior for copying to exclude double quotes.
    onCopy = (copy) => {
        const container = document.createElement('textarea')
        const val = copy.src

        container.innerHTML = typeof(val) === 'string' ? val : JSON.stringify(

[2019-02-02 17:54] clottman opened #245 "Collapse Icon displayed out of alignment"
See working example here: https://classy-success.glitch.me/   Full source, including compiled files, available if you click the 'View Source' button.

![image](https://user-images.githubusercontent.com/4480480/52167455-e64f5780-26e0-11e9-99bf-40d268ca1d4e.png)

I can't figure out what the difference is between my setup and the example setup - the link above shows the component being used with no a

[2019-02-09 04:23] jjwallace commented on #215
Same Issue

[2019-02-09 05:40] jjwallace opened #246 "Alignment Hell - Centering & Formatting Issues"
<img width="442" alt="screen shot 2019-02-08 at 9 39 38 pm" src="https://user-images.githubusercontent.com/4450959/52517069-0e135380-2bea-11e9-968c-822d91ccfaff.png">

anyone getting results like this?  I am trying to use inspector but it seems everything has enough space, very strange results.

[2019-02-10 17:39] mahmudulshuvo commented on #215
Yes I agree with @MarkShulhin . Just align the text in css.

[2019-02-15 14:56] seanes commented on #241
The icons (appearing on mouse over) are larger than the font-size and all items are aligned. If you increase the font-size, to e.g. 12px, on the component, this should not happen.

[2019-02-18 14:24] ashhadsheikh opened #247 "Add ability to add a className prop"
A lot of times, we've predefined classes that we want to use with this, need ability to pass that as prop. Thanks!

[2019-02-19 09:19] srivathsa-kavirayuni commented on #241
Component uses font-size as `14px`.
Issue will resolve if I change the font-size to `30px` (which was used by copy svg icon).
`30px` is very large.

@seanes Is there any other solution?

[2019-02-19 11:00] usagi-f opened #248 "want to lock id"
I am using on the storybook for confirm contents of javascript object.
However, in take snapshot, `rjvId` is to been diff everytime because id is refer to date time now.
https://github.com/mac-s-g/react-json-view/blob/15912895c00c3facf049b79d92ade5c1ca69e999/src/js/index.js#L38
<img src="https://user-images.githubusercontent.com/9045135/53010323-f1e0a380-3480-11e9-8ebe-e65aa9e79096.png" width=300>

[2019-03-01 08:19] anthonyalayo opened #249 "Adding an option to not have text overflow (via word-break:break-all)"
Just allowing an option that adds `word-break:break-all` would be great, otherwise very long unbreakable strings will span outside of the divs.

[2019-03-01 08:29] #249 closed

[2019-03-01 09:20] srivathsa-kavirayuni commented on #241
@seanes Is there any update for above query ?

[2019-03-01 16:21] RIP21 opened #250 "Support display of Map and Set and other new data structures"
Right now Map and Set and many others are not supported. Please support it, at least for display mode.

[2019-03-05 16:32] kamesh95 opened #251 "RJV does not reflect back the json in tree when json state is changed"
I am using React JSON View to dynamically update the source object linked with the tree. However I am not able to do so because it doesn't  take into account the changes in the object through state change.
Hence, I see the old json even though new keys are added or removed. Here's a small example showing the behaviour, what I want here is that whenever the setInterval calls the add function and ad

[2019-03-12 13:16] willcong opened #252 "when json property name is "length" will render failed"
![image](https://user-images.githubusercontent.com/9913266/54202900-03f7b400-450c-11e9-92d4-a06cd534efc0.png)
![image](https://user-images.githubusercontent.com/9913266/54202918-0fe37600-450c-11e9-8589-9bd841d2dc38.png)

[2019-03-12 13:28] Tratten commented on #238
This package would perfectly suit my needs if the element index was optional, right now it is a big problem for me.

[2019-03-13 18:01] innovation-ap opened #253 "Cannot collapse once rendered"
Hi

i am unable to collapse the view once rendered what is needed to have the functionality as exhibited in the demo for collapsing and expanding?

Please help

Suri

[2019-03-19 08:58] JunningCui opened #254 "when I first try to hover the triangle, it is be strange and i cannot open the json tree. I set the default max-height, min-height"
![image](https://user-images.githubusercontent.com/12077128/54592869-2f2c5700-4a68-11e9-926b-fbe8a1332415.png)
after hover
![image](https://user-images.githubusercontent.com/12077128/54592899-3c494600-4a68-11e9-9c2f-01faecb581bc.png)

[2019-04-04 13:57] SourceCipher commented on #223
Same request goes from me. This component is okay but it lacks customisation.

Would be great if we could have the option how to render each item. For example having a method like `renderItems` which returns the value of each items in the json. Then you could compare each of them with lets say your search word and chose to render the item or not. And even better if we had a raw value and raw name

[2019-04-19 13:30] rasmusgo commented on #167
I would use the copy-without-quotes feature if it was available!

[2019-04-19 15:46] jonathan-kosgei commented on #156
Hi @mac-s-g is this achievable through `style`? I couldn't find an example for how to use it. I just need to make the NULL values less strong/red on the default theme.

[2019-04-22 09:00] SourceCipher opened #255 "Not collapsing json after you expand/collapse any node within the root"
Seems like all these issues are left to die, which is a shame as this could be a great component..

The problem seems to happen when you change the collapse flag to true/false, all the nodes are expanded or collapses (correct way), but as soon as you expand or collapse any child node manually - collapse function no longer works correctly.

Issue can be replicated in a demo page as well.

[2019-04-24 17:36] ShunnyBunny commented on #244
@shengbeiniao I have the same issue, do you know of any quick fix?

[2019-04-24 17:42] ShunnyBunny commented on #244
#240
This issue seems to be duplicated. There is currently pull request on a fix.

.react-json-view {
    word-break: break-all;
}

seems to do the trick for me

[2019-04-24 18:32] chiwoojo commented on #242
Any update on this issue? Thanks.

[2019-05-13 12:18] villesau opened #259 "clicking field should enter edit mode"
It's more natural to click the actual value instead of icon next to it for editing purposes. Would it be hard to implement?

[2019-05-13 12:19] villesau commented on #140
I'd like to be able to just click the value which would open the text input.

[2019-05-13 13:01] villesau opened #260 "no way to paste JSON"
Looks like there is no good way to paste complete JSON chunks. This is pretty valuable if you have stored JSON values somewhere else and would like to use them.

[2019-05-14 11:05] elijahsmith commented on #251
I am also running into this limitation... great component but I need to be able to show updates to the json made externally!

[2019-05-15 03:01] ShunnyBunny commented on #220
It appears that the combination of select.namespace and select.name from the callback (select)=>{} for onSelect can be used to figure this out.

[2019-05-16 16:43] behrouz-s opened #261 "It would be better if displayed JSON has been sorted alphabetically."
Client could find desired key more easily if json has been sorted alphabetically.

[2019-05-28 13:09] audrium commented on #260
This is very needed feature also for me.

[2019-06-03 07:04] CasperMXP commented on #251
me too

[2019-06-05 02:36] apizhu opened #262 "OnEdit: TypeError: [x] is not a function"
when components use in form,  edit this, enter  press can casue
![Uploading image.png…]()

[2019-07-03 07:38] #241 closed

[2019-07-11 10:11] jarrywen commented on #242
I also have this problem. so I can't get JSON path by copy.
Example:
[code]
print info:
[code]

So name should be 'key' instead of 'value'
Or
namespace chage to ['root', 'operations', 'value','key']

[2019-07-20 17:51] michshat commented on #246
I had the same issue, adjusting the line-height like following helped `<ReactJson style={{ lineHeight: '1.3em' }} ... />`

[2019-07-29 10:52] michaelboyles opened #266 "Encoding problem with copied checkmark"
This line

https://github.com/mac-s-g/react-json-view/blob/4d008ac8d6d3be2d018191fa4b1753329b9185f3/src/js/components/CopyToClipboard.js#L71

uses a checkmark icon to denote that an element has been copied.

I am using webpack and babel and get encoding problems, with the checkmark coming out as the string `âœ”`.

How can I fix this? Is there a change which could be made to the source so there's n

[2019-07-29 10:55] michaelboyles opened #267 "Copied checkmark shifts subsequent elements down by one pixel"
When clicking the copy icon, a checkmark is applied. A CSS problem means that all subsequent elements get shifted down by a single pixel. This is reproducible [on the interactive demo](https://mac-s-g.github.io/react-json-view/demo/dist/)

[2019-07-31 07:06] srinivasdamam opened #268 "validationMessage is not dynamic and doesn't auto close"
validation message is handled internally by the `react-json-view` component.
It doesn't re render the message on change it.

Here is demo:
https://codesandbox.io/s/react-json-view-validationmessage-issue-4do2g

I would you like me to raise start working on it and raise PR ?

[2019-08-06 15:24] Commandos87 commented on #251
I encountered the same problem and could solve it by parsing the JSON string to an actual JSON object:

This did'nt work:
`<ReactJson src={this.state.label} theme="monokai"/>`

This works:
<ReactJson src={JSON.parse(this.state.label)} theme="monokai"/>

Best regards,
Sven

[2019-08-14 18:23] Crizzooo commented on #268
Confirmed I am experiencing the same issue.

Is this the intended behavior @mac-s-g ? We would like to display custom validation messages based on what the user just tried to edit.

Please update on if this is something that will be fixed or if you need help to get it done!

[2019-08-19 01:55] BrianJVarley opened #269 "Addition of an onExport props to enable export callback"
Hi, I'm using RJV an found the use case to be able to export the JSON to a JSON file.
In our use case we will be using the exported files to import into an administration system.

Similar to `onEdit, onAdd and onDelete props allow users to edit the src variable` it would be helpful to have an `onExport` which enables exposes an callback and displays an export icon.

[2019-08-22 12:27] hari4125862 commented on #182
Hey any update on the about feature?

[2019-09-04 07:17] quiet-boy-two opened #270 "onEdit return false cannot edit again"
i set some limit when i use onEdit method,when onEdit return false,then i edit again,it not work and Browser will return  "Cannot read property 'xxx' of undefined"

[2019-09-16 16:02] mattspeller opened #272 "Custom Actions per Node - ability to paste clipboard under selected node"
Hello - not seen anything in the issue log or similar questions - apologies if duplication.

I am happy with the copy action, with the ability to store the selected node in the clipboard. As a JSON editor, the instant follow on is how do I paste that same JSON into another part of the tree?

1) User selects a node, with a tree beneath depicting a shape they wish to clone.
2) User select Copy icon.

[2019-09-27 05:15] snailkn commented on #223
same requirement, is there any solution?

[2019-10-02 07:06] adrianpike commented on #261
I think you want the `sortKeys` prop.

[code]

[2019-10-02 08:13] #261 closed

[2019-10-18 00:01] tarim opened #273 "Add Search Box"
Hi,

I like your component, and it is good for a small JSON file, but when the JSON file big, so difficult to find something. So, I am wondering how difficult to add a search box on the top area, please?

Thank you,

[2019-10-24 08:08] nsourov commented on #251
[code]
This works well :smiley:

[2019-10-28 15:41] nicolas-rodriguez-globant commented on #121
Same error.

[2019-11-20 01:36] jakegavin commented on #161
I also ran into this issue with Material UI Dialogs/Modals. `disableEnforceFocus` worked but obviously comes with an accessibility trade off. Calling [`navigator.clipboard.writeText`](https://developer.mozilla.org/en-US/docs/Web/API/Clipboard/writeText) in a function passed to `enableClipboard` also worked.

Thanks for the work you've put into this library!

[2019-11-20 09:22] SachinVarghese opened #274 "Double quotes in string value doesn't have escape characters"
If you have string values that have double quotes in them as shown in the example below,  it is quite confusing without escape characters or a different color for the outer quotes for the string. Although this is not a technical bug, it is not visually right. I wanted to know the general opinion on how can this be improved?

![](https://user-images.githubusercontent.com/1447507/68830765-81c81c80-0

[2019-11-22 23:13] amneacsu commented on #104
`lodash.curry` is being brought in by `react-base16-styling`.

[2019-12-08 00:30] rogchap commented on #241
I used this instead of increasing the font size:
[code]

[2019-12-16 22:13] a-b-r-o-w-n opened #275 "Hover styles do not work for object-key-val"
https://github.com/mac-s-g/react-json-view/blob/4d008ac8d6d3be2d018191fa4b1753329b9185f3/src/js/themes/getStyle.js#L100

Since the styles get applied as inline styles, the pseudo-selector `:hover` has no effect.

[2019-12-21 22:37] davidgolub commented on #275
I have the same issue

[2019-12-28 04:33] justinmchase commented on #121
The minified code at the point of the error is reported has the following code:
[code]

Its failing at that first reference to `window`, and is very near some other code related to base64 encoding data urls. This error appears shortly after ""The style-loader cannot be used in a non-browser environment".

I've confirmed its this line: https://github.com/mac-s-g/react-json-view/blob/master/webpack/

[2020-01-17 18:49] alexandre-lelain commented on #121
Here's a little workaround inspired by the previous answers, while SSR is still not supported:

[code]

Tested on Gatsby v2. No extra webpack config needed.

[2020-02-02 20:25] joshlangner commented on #273
Has anyone tried to do this previously? Would be interested in helping / picking up where it was left off.

[2020-02-03 09:22] hippowc opened #277 "The "defaultValue" seems not working when adding array elements"
As the title said, The "defaultValue" seems not working when adding array elements, as well, it works well when adding a "key"

[2020-02-12 17:02] dayongi opened #278 "Can i paste a complete json chunks to the component?"

[2020-02-17 11:53] naumanzchaudhry opened #279 "Conditionally Styling Values"
@mac-s-g . Thanks for the module . Pretty useful.

I was wondering if there is a way where I can style keys & values from my json based on some condition?

[2020-02-17 12:10] naumanzchaudhry commented on #156
@jonathan-kosgei pretty long time. I am curios if you did achieve this?

[2020-03-08 07:47] bing1021 opened #280 "long number display wrong"
my version is `1.19.1`
here is my code
[code]
![22d6f1dac662104b87bf93270b46973cf2000ba0](https://user-images.githubusercontent.com/13826594/76158746-15da5a00-6154-11ea-8ada-b8d03e272bb2.png)

the last number is 1, but the component displays 0!!!

[2020-03-11 15:19] KiranGopalakrishnan commented on #280
JavaScript uses 64bit floating point numbers exclusively, Meaning there is no guarantee of precision for anything after 16 digits, you can pass in the value as a string instead

[2020-03-16 21:58] peter-reonomy commented on #121
This worked for me:
// Use this instead of `import` to prevent "window is not defined" error at build time
const ReactJson = typeof window !== 'undefined' ? require('react-json-view').default : null;

[2020-03-17 16:52] javidang opened #281 "issue with inline styles because of CSP"
I am getting this:

Refused to apply inline style because it violates the following Content Security Policy directive: "style-src 'self' https://fonts.googleapis.com". Either the 'unsafe-inline' keyword, a hash ('sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU='), or a nonce ('nonce-...') is required to enable inline execution.

I cannot remove CSP or use 'unsafe-inline'. Is there a workaround

[2020-03-17 20:21] #281 closed

[2020-03-17 20:21] javidang commented on #281
these hashes can be added to csp headers, solved that way.

[2020-03-30 22:03] andrehtgti2 opened #283 "displayDataTypes and displayObjectSize is always true"
I am trying to change displayDataTypes and displayObjectSize to false but the these information isalways shown

`
<ReactJson displayDataTypes=false  displayObjectSize=false  src={jsonF} />

<ReactJson displayDataTypes={false} displayObjectSize={false}  src={jsonF}   />
`

![image](https://user-images.githubusercontent.com/7523486/77966286-18465480-72b9-11ea-8982-625cd56180c8.png)

[2020-04-03 10:39] hisvarlar commented on #283
same error too

[2020-04-04 14:16] samstr commented on #121
There's also this library: [https://www.npmjs.com/package/react-json-viewer](react-json-viewer).

Not quite as nice visually, but doesn't have the window issue

[2020-04-04 21:22] imdanielsp commented on #180
@mac-s-g  Assuming this hasn't been resolved, I would like to make this change. I will send a PR soon.

[2020-04-12 20:58] chrishawn opened #285 "Cancel Edit and Delete icons shouldn't look alike"
this is very confusing for many users.

[2020-04-12 21:00] chrishawn opened #286 "shouldAllowDelete shouldAllowEdit"
it would be nice to have a granular handler with similar values to onEdit and onDelete
that can return false if we don't want the edit or delete icons to show

[2020-04-14 15:48] isaacgr commented on #180
Hoping this gets merged, as it would really clean up the data being displayed. Love the component!

[2020-04-14 17:12] nehirakbass commented on #273
Has anyone got a good solution for this?

[2020-04-28 19:26] nehirakbass commented on #251
When i use this, changes doesnt reflect to the json-view, dont know why it happens, do you have a solution for that?

[2020-05-09 00:51] 1mike12 opened #287 "display new line character"
If I have an object like `{key: "line1\nline2"}` when viewing the json, the new line characters dissapear

[2020-05-11 12:15] gjj commented on #207
@groovy-tunes I know it's 2 years late but I'm also encountering the same issue here. I believe that either the `name` or `namespace` is supposed to include the final key, most likely the former.

I think this project doesn't seem to be maintained though?

[2020-05-12 14:22] sriramarunachalam commented on #182
Is there any update on this issue?

[2020-05-13 07:57] liangzhijian0 opened #288 "OnEdit function control some fields that are editable or read-only"
Any solution to control some fields that are editable, some fields that are read-only? The onEdit function can only control the entire json.

[2020-05-15 07:23] webor opened #289 "onEdit returned false still wrong value getting Updated"
In order to replicate this issue take 2 keys in json key1: value1, key2: value2
1. on edit of "key1" with value "valEdit" return false so "key1" will again revert to "value1"
2. Now edit "key2" and return true om this u will see "key1" got changed to value "valEdit" on which u returned false

[2020-05-19 07:27] denispasin commented on #121
@justinmchase I was afraid the SCSS would be gigantic but it's actually quite small. Did you try doing the refactor ?

[2020-05-19 14:31] justinmchase commented on #121
No, but the issue persists for me, it would be nice to solve it but I assumed it was going to be a big refactor.

[2020-05-24 23:29] denispasin commented on #121
I’ll look at it if I find the time.

[2020-05-31 08:37] xiaoxiangmoe opened #290 "Feature Request: add esm support"
Add esm support for [vite](https://github.com/vitejs/vite).

[2020-06-08 20:33] assadtony commented on #237
Any updates on this?

[2020-06-16 12:01] lveillard commented on #247
I subscribe to this! I would love to be able to add classNames to the json viewer object.

When i do this:
[code]

The component overrides it and shows only rect-json-viewer.

I could manually set each style element but my target here is to have the same style as rs-input elements, included hover and other actions css. Being able to do something like:
extendClassname = "rs-input anotherClass" woul

[2020-06-16 12:23] lveillard commented on #247
Quick win for those wondering:

[code]
Does the trick

[2020-06-23 06:34] tanishasinghai17 opened #291 "Cannot select a json object, can only select key value pairs!"

[2020-06-26 02:42] mac-s-g opened #292 "Adopt Me (looking for maintainers)"
hello world (again),

I'm looking for maintainers interested in moving RJV forward.

As you can see by my commit history, I no longer have the to bandwidth to focus on this project.
the feedback from users has been amazing!  ... but i've kinda left my users out in the cold since I stopped contributing.

I would like to stay involved, but i'm looking to find at least two maintainers before handing

[2020-06-26 11:37] hugo-astier commented on #278
+ 1

[2020-07-01 11:23] Vilyak commented on #255
Actual

[2020-07-01 11:23] Vilyak commented on #255
+

[2020-07-01 11:23] Vilyak commented on #255
plus

[2020-07-05 13:07] UsulPro commented on #292
Hey Mac!

Thanks for creating such an amazing project and for caring about the users. Glad to see this opportunity to continue developing it.

As I know react-json-view is used in plenty of big and small open source projects (I also use it in my projects). In terms of this, what do you think about transferring it to a separate GitHub org with a team of core maintainers and allow other people to co

[2020-07-06 20:38] mac-s-g commented on #292
Nice @UsulPro, thanks for the response.  I think this is a good idea.
I'm going to add you as a contributor for now.
What would migrating the project to a github org entail?

[2020-07-06 22:30] UsulPro commented on #292
Thanks @mac-s-g :tada:

Own GitHub org is still the same free way to host the project and manage contributors roles. But at the same time, imho it indicates more community-driven development and could be more attractive for new contributors

[2020-07-16 03:50] JohnLee-cn commented on #161
copy to clipboard not work on Material UI Dialogs/Modals  +1 . Thasnks @jakegavin

[2020-07-21 08:38] ngthtung opened #295 "Selector to get values"
Hi everybody,

I'm looking for selector to get values after add, edit, delete.
Is currently it support this selector.

Thank you.
Brgds.

[2020-07-23 08:15] ngthtung commented on #295
Nerver mind.
https://github.com/mac-s-g/react-json-view/issues/239#issuecomment-451456158

[2020-07-23 08:15] #295 closed

[2020-07-23 08:15] ngthtung commented on #295
Never mind.
https://github.com/mac-s-g/react-json-view/issues/239#issuecomment-451456158

[2020-07-23 16:37] the-unbearable-lightness-of-being commented on #262
@apizhu I am encountering the same issue with Parcel bundler.
<img width="355" alt="image" src="https://user-images.githubusercontent.com/51709582/88313217-33fabe00-cce1-11ea-9944-51b39d295285.png">

<img width="366" alt="image" src="https://user-images.githubusercontent.com/51709582/88313267-483ebb00-cce1-11ea-987e-d5f7dece5f4c.png">

[2020-07-23 16:45] the-unbearable-lightness-of-being commented on #262
Nevermind. I'm an idiot. Even though I defined an `onEdit` function, I didn't actually pass it to the component. So it was failing when I was doing this:
[code]
`onEdit` should not be empty.

[2020-07-26 18:37] jacksonkr opened #296 "ReferenceError: document is not defined"
[code]

I spent hours today chasing down an issue with our jest-puppeteer tests and the culprit was this plugin. It seems as though babel can't figure out what `document` is. I'm not sure where this is in your source or I'd do a PR. If `document` is referring to the window's document as I suspect then you may be able to leverage `window.document` to save other developers from this issue.

[2020-08-07 06:02] nileshteji commented on #236
Same did you find a solution for this ?

[2020-08-07 08:02] guilhermedeandrade commented on #236
@nileshteji to be honest, I don't remember 😞

[2020-08-07 09:08] nileshteji commented on #236
@guilhermedeandrade  oh god i am not able to use my containers 😩

[2020-08-07 09:43] slorber commented on #235
Also had this problem, while I'm trying to integrate this lib in Docusaurus debug dashboard (WIP):
https://github.com/facebook/docusaurus/pull/3229

My solution looks like:

[code]

[2020-08-07 09:43] slorber commented on #121
Also had this problem, while I'm trying to integrate this lib in Docusaurus debug dashboard (WIP):
https://github.com/facebook/docusaurus/pull/3229

My solution looks like:

[code]

[2020-08-10 09:44] squabbySmallPig opened #297 "为什么显示的json不是按字母顺序来的"

[2020-08-17 09:09] mnavon commented on #182
Is there any update on this feature?

[2020-08-18 04:18] nick-cromwell commented on #180
This would be really great

[2020-08-18 13:22] nick-cromwell commented on #180
@imdanielsp It appears @mac-s-g is looking for new maintainers of this repo. I'm not sure if you would be interested in that but I'm guessing it is unlikely this gets merged until a new maintainer is assigned.

[2020-08-18 15:00] imdanielsp commented on #180
@nick-cromwell I would be happy to be a maintainer (I use this heavily 🙂). Where did you find out that @mac-s-g is looking for one?

[2020-08-18 15:04] nick-cromwell commented on #180
@imdanielsp I saw it in #292 . I've just started using the library but it's excellent. Really great for custom API documentation.

[2020-08-29 05:48] thomasjm commented on #121
I made a PR with the inline React styling solution at #298. If anyone would like to try it and confirm it works that would be helpful.

[2020-09-05 06:29] mac-s-g commented on #297
checkout the sortKeys prop.  does that solve the issue?

[2020-09-05 14:56] rikimaru0345 opened #299 "Callback like onSelect but for property names"
The onSelect callback is really useful, but it only triggers when the user clicks on a **value**.

From what I can see there is currently no way to detect a click on the property name.
Could you add something like `onSelectProperty`?

[2020-09-07 09:03] devansh-dalal opened #300 "Float variables not displayed correctly"
[code]

<img width="706" alt="Screenshot 2020-09-07 at 2 30 15 PM" src="https://user-images.githubusercontent.com/69784585/92369464-ad763080-f116-11ea-99f2-59a9a39fafad.png">

[code]

<img width="710" alt="Screenshot 2020-09-07 at 2 31 08 PM" src="https://user-images.githubusercontent.com/69784585/92369710-fa5a0700-f116-11ea-983a-ade9bd19160d.png">

So, I want to display `2.0` as `2.0`, not int, `

[2020-09-10 22:45] tnrich commented on #179
Anyone have a solution in user-land? Thanks!

[2020-09-10 22:57] tnrich commented on #179
This is about as ugly as they come but works for now:

[code]

[2020-09-16 21:17] panyamred commented on #121
import dynamic from "next/dynamic";

const DynamicReactJson = dynamic(import('react-json-view'), { ssr: false });

This solved the issue.

[2020-09-22 07:29] adamalexandru4 opened #301 "src not updating after setState"
I can't figure it out how to update the src prop when the parent state changed. I tried with hooks, React class component .. nothing works.
Help me with a sample please.

[2020-09-22 07:49] qooban opened #302 "Security vulnerabilities in flux package"
There are the following vulnerabilities reported by `npm audit` on `react-json-view` package:

[code]

It would be great to have it fixed once `flux` (https://github.com/facebook/flux/issues/504) is updated.

[2020-09-25 14:44] yeikel commented on #268
Any update on this?

[2020-09-28 05:19] arifszn commented on #121
Confirming this issue while production building in Docusaurus v2. Not recommending with Docusaurus.

[2020-09-28 08:10] slorber commented on #121
@arifszn I'm the current lead maintainer of Docusaurus and you should just do something similar to what I did here: https://github.com/mac-s-g/react-json-view/issues/121#issuecomment-670431408

I wouldn't say this lib is not recommended for Docusaurus, but as any lib without proper SSR support, we have to work around the lack of SSR support.

[2020-09-28 08:37] arifszn commented on #121
@slorber I tried using [react-json-inspector](https://github.com/Lapple/react-json-inspector) as an alternative but same error occurred. Then switched to [react-json-tree](https://github.com/reduxjs/redux-devtools/tree/master/packages/react-json-tree) and it is running perfectly without any hack. I would recommend [react-json-tree](https://github.com/reduxjs/redux-devtools/tree/master/packages/rea

[2020-09-28 13:03] slorber commented on #121
This is not really a "hack", it's just rendering it only on the client, which is a technique you should have in your bag as a React developer. I mean, you shouldn't dismiss a lib just for lack of SSR support, particularly for things like json trees for which SEO does not matter much.

Here's also a working version of this lib in Docusaurus: https://v2.docusaurus.io/__docusaurus/debug/

I agree tha

[2020-10-06 16:07] correiamp commented on #121
@thomasjm and @justinmchase, first of all, thank you for your amazing work!
Just wondering, relative to this https://github.com/mac-s-g/react-json-view/pull/298, do you guys have an ETA to go live?

[2020-10-06 21:01] thomasjm commented on #121
@correiamp I think it just needs some review. If people could try it out and chime in that it works and doesn't mess anything up visually, hopefully we can get it merged. (Last I checked this project was only semi-maintained.)

You can stick the following in your `package.json`:

[code]

[2020-10-17 02:01] justinmchase commented on #121
@correiamp I'm not a developer on this project but I would recommend everyone go to the PR (#298) and vote there because the developers appear to be simply unaware of the PR completely. If they were to see enough votes they may be inclined to merge it.

[2020-10-19 13:19] tzachshabtay commented on #192
@mac-s-g are you doing any virtualization (i.e only rendering the part that's visible on the screen plus a little extra, and then rendering on-the-fly when scrolling)? Because if you're rendering the entire document always, that's most likely the problem. I have used [react-virtualized](https://github.com/bvaughn/react-virtualized) to solve this in a past project.

[2020-10-27 09:38] correiamp commented on #121
@thomasjm and @justinmchase  sorry the late reply.
I've tested as you suggested and worked smoothly :)

Going to add this feedback to the PR

[2020-11-06 16:43] jldamas commented on #301
Try to collapse, then uncollapse it.  It seems to update the data when collapsed

[2020-11-19 23:31] 3wweiweiwu opened #305 "enableClipboard callback does not returns correct Keys"
Hello,

In my case, I want to extract the JSON key by using copy feature. When I try to use that, I notice that the value in the namespace does not match what I expect. For example
{
  key1:8
  key2:[]
}

When I try to copy the value at key1, the namespace returns value [root]. The value is 8 though.

The funny thing is that when I copy the value at key2, the name space is working fine and return

[2020-12-02 09:34] zhousai1222 commented on #305
+1

[2020-12-07 14:01] davidsu06 opened #306 "Json path of the copied value"
Hi, how could I get the json path of the copied value? I see it can be done with the namespace that returns 'onSelect', but this obligates to click the value. Is it possible to do it with the 'enableClipboard' callback?

I need to copy the path when the user clicks the icon that just 'enableClipboard' shows.

Thanks for your help.

[2020-12-08 11:03] semmgeorge commented on #283
same error

[2020-12-14 22:06] imdanielsp commented on #292
Hi @mac-s-g, what is the plan for this repository? The project is amazing, but if it doesn't keep moving forward, it might get unusable in the future in the future. I have time in the next 2 weeks to help if needed.

[2020-12-22 23:01] alexblack commented on #235
I've also hit this - large JSON objects take quite a while to display.   It'd be great if there were event(s) that would enable someone using the component to display a spinner/loader while waiting for the JSON to render

[2020-12-24 13:08] svozza commented on #302
The updated version of flux (4.0.0) with this fix was released last week:

https://www.npmjs.com/package/flux/v/4.0.0

[2020-12-30 22:40] cldellow commented on #236
I'm not familiar enough with Docker to understand the underlying issue, but I also faced this. If you add `--network host` to https://github.com/mac-s-g/react-json-view/blob/master/docker/dev-server.sh#L21, it will resolve the issue.

Since it's just for dev, I feel OK applying this fix without understanding why it resolves the issue. :)

[2021-01-05 21:37] janetwang1 commented on #302
Is there a plan to release a new react-json-view package to use flux@4.0.0 instead of flux@3.1.3 ?

Thanks
Janet

[2021-01-05 21:49] sathis810 opened #307 "Is there any possiblty OnEdit can be a picker not textbox?"
When editing the value. Field is textbox. But I need to load the list of data's to the picker,

[2021-01-07 15:44] Byrth commented on #274
I would argue that it _is_ a bug because the displayed values are not valid JSON.

In order to make it valid JSON, it should print the escape character too.

This also happens in keys.

[2021-01-16 22:42] mac-s-g commented on #302
working on this now.

[2021-01-16 22:51] #297 closed

[2021-01-16 22:55] mac-s-g commented on #244
merged #218

[2021-01-16 22:55] #244 closed

[2021-01-16 22:55] mac-s-g commented on #240
merged #218

[2021-01-16 22:55] #240 closed

[2021-01-18 11:04] ohardy opened #313 "Alpine linux support"
Hi,

I discovered that docusaurus uses this package.

Indeed, since this morning, I can't do any more `npm install` in my alpine docker images because of the dependency with the npm `node` package.

[code]

And node npm package doesn't support alpine for now (https://github.com/aredridel/node-bin-gen/issues/48)

So I create this issue to know if it's easy for you to remove usage of this package, o

[2021-01-18 13:21] sandersiim commented on #302
flux@4.0.1 should properly fix the vulnerability: https://github.com/facebook/flux/releases/tag/4.0.1

[2021-01-18 20:20] mac-s-g commented on #313
yes, i think i can resolve this today.
thanks for reporting.

[2021-01-19 01:31] mac-s-g commented on #313
as soon as ci finished, i'll merge and deploye #314

[2021-01-19 01:41] mac-s-g commented on #313
@ohardy i removed the peer dependency on node, merged and published to npm at v `1.20.1`.

can you let me know if that resolves the issues for you?

thanks again for all the detail you included with this issue.

[2021-01-19 01:50] mac-s-g commented on #302
yup looks good.

ci is running now for #315.  will merge and deploy once that's done.

changes will be published to `1.20.2`

[2021-01-19 01:54] #302 closed

[2021-01-19 01:56] mac-s-g commented on #302
that's published.
let me know if anything comes up with the changes from 1.19 to 1.20.
there were a ton of dependency updates made for the first time in a while.

good news is we're down to `0` vulnerabilities (as reported by `npm audit`).

thanks everyone for nudging this along :)

[2021-01-19 01:59] #313 closed

[2021-01-19 02:10] mac-s-g commented on #292
hey everyone.  sorry for the hiatus.
I'm planning to put some time in this weekend to explore possibly moving this to a different github org with a team of maintainers.
I did some work this last weekend to update dependencies and address security vulnerabilities.  we're down to `0` :)

I should have some sort of follow up this weekend.

[2021-01-19 11:29] svozza commented on #302
Great news. Thank you!

[2021-01-19 16:09] ohardy commented on #313
@mac-s-g Thank you so much, everything is ok now :)

[2021-01-20 13:33] ulieckstein opened #316 "Uncaught EvalError after updating to 1.20.0"
We are running a website with a CSP that does not allow eval functionality for javascript. After updating react-json-view from 1.19.1 to 1.20.0 we get EvalErrors when loading the page.

[2021-01-20 17:30] asherf commented on #316
Seeing this on our env too, also happens on v1.20.2

[2021-01-20 23:11] mac-s-g commented on #316
hmm that's unfortunate.  i don't believe rjv is dong any eval directly.  but 1.20 came with major updates to just about every dependency.

at 1.19.x, npm audit was reporting a ton of security vulnerabilities (a few critical).

at 1.20.2, all of those have been resolved.

so overall, ^1.20.2 should be safer to use - but nobody feels good about eval being used.

any idea where or what dependency the

[2021-01-21 01:35] asherf commented on #316
@mac-s-g I am not sure where this is coming from but I was able to "fix" by reverting to an older version `1.19.1`
Even though I have source maps I am not able to trace the error back to the source (sorry, I am more of a backend guy and my JS knowledge is limited).
this is what I see in dev tools
<img width="832" alt="Screen Shot 2021-01-20 at 5 32 56 PM" src="https://user-images.githubusercontent

[2021-01-21 02:00] mac-s-g commented on #316
extra detail is always appreciated! thanks @asherf !  i'll let you know when i have a fix on the way

[2021-01-21 20:05] acchaulk commented on #223
curious about this as well, would appreciate any workarounds people came up with

[2021-01-22 15:31] Gelio opened #317 "Coverage information in dist/main.js"
Hey,

I upgraded to react-json-view@1.20.2 and for some reason, jest's coverage check started failing. After some debugging I found out that the `dist/main.js` file from `react-json-view` has something that resembles coverage information :exploding_head:

![image](https://user-images.githubusercontent.com/889383/105510617-25608400-5ccf-11eb-8ff6-684ede4e7264.png)

I reckon it would be best if the

[2021-01-22 19:22] michelnev commented on #306
The `enableClipboard` callback does return the namespace.  However, the namespace is incorrect in v1.19.1, I'm about to try out the latest release to see if it has been fixed.  It returns null in the first element and if the top element is clicked the `name` and `namespace` are null.  For example, when copying a root level element, the following is returned:
[code]

[2021-01-22 23:47] mac-s-g commented on #317
haha fuck!

thanks for pointing this out.  There were some massive dependency updates between 1.19.x and 1.20.2.

I'll be working on damage control tomorrow to address issues coming from those changes.

this looks like an obvious screw up on my end... i clearly included coverage info with the assets published to npm.

I should have this resolved some time tomorrow.  I'll post an update when the up

[2021-01-23 06:24] Gelio commented on #317
No worries 😄 take your time

I'm still wondering how the coverage info got into the bundle 🤔

[2021-01-24 22:18] mac-s-g commented on #317
MR #318 will resolve this issue.
i had babel including the `istanbul` plugin for all environments.
the fix also cuts the build size in half.

once the MR is merged, i'll publish to npm at `1.20.3`

[2021-01-24 23:08] mac-s-g commented on #317
that's been published.  thanks again @Gelio

[2021-01-24 23:08] #317 closed

[2021-01-25 00:16] mac-s-g commented on #316
@asherf i think this is resolved with #318
it's difficult for me to test though so i'm not 100% positive.

can you try upgrading to 1.20.3 and let me know if you still see the issue?

[2021-01-25 00:53] mac-s-g commented on #301
I'm not able to replicate.  You should be able to control src from a parent component (i just tested in development).
try upgrading to 1.20.3.  If you're still having an issue, share some more detail and I'll try to help you out.

[2021-01-25 00:53] #301 closed

[2021-01-25 00:58] mac-s-g commented on #305
I verified this is a bug.

[2021-01-25 00:59] mac-s-g commented on #306
Just tested this out and the bug still exists.  This was reported first by #305 so I'm gonna close this as a dupe issue.  Let's use 306 to track progress on the resolution.

[2021-01-25 00:59] #306 closed

[2021-01-25 01:05] franklixuefei commented on #292
Hi Mac!
It's been a while since I last came here. I've been doing some non-react related work for almost the entire 2020 so didn't have a chance to come back to the open source community. Glad to see that this awesome project is still under control and lots of folks are willing to contribute. I will spend more time in the future in the open source community and here in this project too as React Ho

[2021-01-25 01:11] mac-s-g commented on #305
#321 resolves the issue.  once tests pass it will be published to 1.20.4

[2021-01-25 01:11] mac-s-g commented on #306
#321 resolves the issue. once tests pass it will be published to 1.20.4

[2021-01-25 01:15] mac-s-g commented on #292
@franklixuefei hey long time no talk!

I've basically been on hiatus since literally 2018.  I came back to this project recently and decided to put some effort into bringing it back to life.

I think that migrating to react hooks would be an awesome idea.  i'm 100% behind that.

good to hear from you!

[2021-01-25 01:18] #305 closed

[2021-01-25 01:20] mac-s-g commented on #305
heyoooooooo fix published to `1.20.4`
thanks everyone for contributing to the discussion :heart:

[2021-01-25 01:22] mac-s-g commented on #292
@UsulPro @mrfambo @franklixuefei what do you think about starting up a discord chat or something to discuss the merge + deploy process?

[2021-01-25 01:22] mrfambo commented on #292
@mac-s-g I am definitely up for it !!

[2021-01-25 01:23] mrfambo commented on #292
@mac-s-g Discord, slack or anything is welcome from my side !!

[2021-01-25 01:24] mac-s-g commented on #292
alright, maybe i'll go with slack since i already have that running all the time :)

[2021-01-25 01:25] mrfambo commented on #292
@mac-s-g Same here. But i have Discord sitting on my dock too if needed by any means :D

[2021-01-25 01:38] mac-s-g commented on #292
:boom: :boom: :boom: i setup a slack org.  doing big things here.  i sent invites out to people that have expressed interest.  if anyone else is interested, please respond to this thread and i'll add you!

[2021-01-25 01:42] imdanielsp commented on #292
@mac-s-g this great news! I am would be happy to join the Slack org.

[2021-01-25 02:26] mac-s-g commented on #316
or @ulieckstein could verify as well.  i'm like 90% sure this is resolved.

[2021-01-25 02:39] #280 closed

[2021-01-25 02:39] mac-s-g commented on #280
thanks for the clarification @KiranGopalakrishnan

[2021-01-25 07:39] Gelio commented on #317
Awesome, thank you for a swift fix, and for explaining the issue :+1:

[2021-01-25 17:02] asherf commented on #316
@mac-s-g I have tested the new version and it fixes this issue!
Thank you for fixing this so quickly!

[2021-01-25 20:36] #316 closed

[2021-01-25 20:36] mac-s-g commented on #316
resolved by #318

[2021-01-26 09:43] ulieckstein commented on #316
the error is gone, thanks @mac-s-g

[2021-01-30 16:58] janryWang opened #323 "support custom sort method for object keys"
Currently there is only one sortKeys property to control automatic sorting, but I hope it can be specified manually

[2021-02-03 21:55] mac-s-g commented on #323
@janryWang can you give an example of how you want to be able to sort differently?

[2021-02-05 03:24] #180 closed

[2021-02-05 15:41] stevewillard opened #326 "quotesOnKeys prop doesn't seem to take effect"
When specifying `quotesOnKeys={false}` I still see quotes on the object:

<img width="151" alt="Screen Shot 2021-02-05 at 10 39 46 AM" src="https://user-images.githubusercontent.com/11420/107054732-804dad00-679e-11eb-895d-5f32059f77b0.png">

[code]

[2021-02-05 18:43] ranjitarjunan opened #327 "TypeError issues with running {npm run dev} on Master Branch"
Hi there,

Thanks for creating this project, it's exactly what I need for my front end application at work.
To let you  I am fairly new to front end development, so apologies if this issue is quite trivial, however have been spending two days trying to wrap my head around.

So I cloned the master branch, and carried out the following steps as instructed in the read me:
npm install --save-dev
npm r

[2021-02-05 20:28] mac-s-g commented on #327
@ranjitarjunan can you tell me what versions of node and npm you're using?
you can check that by running `npm -v` for npm version and `node -v` for node version.
i ask because different versions can behave differently with the same `package.json`.

[2021-02-05 20:45] ranjitarjunan commented on #327
@mac-s-g
npm version: 6.14.10
node version: 14.15.4

[2021-02-05 22:26] mac-s-g commented on #327
okay, i'm testing now using the following:
node: 14.15.3
npm: 6.14.9

i was able to run the dev server after a fresh install without any issues.
i'm also working in an ubuntu / linux environment.

try the following:
 - delete your node modules folder
 - do a `git pull` to make sure you have the latest code
 - install fresh without save-dev flag (just `npm install`)
 - `npm run dev`

if that doesn'

[2021-02-05 22:38] mac-s-g commented on #326
@stevewillard thanks for reporting this.
i confirmed i see the issue as well.  i see what's up.  the prop isn't fully implemented.

quotesOnKeys is implemented for object names [here](https://github.com/mac-s-g/react-json-view/blob/1487e878232686f8d97fe4437dc8f60c564c8c37/src/js/components/ObjectName.js).

but it needs to be implemented [here](https://github.com/mac-s-g/react-json-view/blob/1487e8

[2021-02-05 22:42] mac-s-g commented on #326
i will merge and publish to v 1.21.1 once tests all pass.

[2021-02-05 23:25] #326 closed

[2021-02-05 23:25] mac-s-g commented on #326
fix published to 1.21.1.  thanks again for reporting the issue.

[2021-02-05 23:31] stevewillard commented on #326
Thank you so much. I really appreciate such a quick turnaround!

[2021-02-06 12:45] ranjitarjunan commented on #327
@mac-s-g I solved the issue as such:

(1) When specifying the custom setup for Node.js, I picked Node.js runtime instead of npm package manager. This probs solved the issue I outlined above.
(2) I am working on Windows, so within the scripts section of Node.js, where you specified NODE_ENV, error returned as NODE_ENV is not recognised as an internal or external command. To resolve this, I executed

[2021-02-06 12:45] #327 closed

[2021-02-10 14:26] pm-mkorpar opened #330 "React 17 support"
react-textarea-autosize  6.1.0  does not support react 17, is there any reason for not using a newer version?

`
npm ERR! Could not resolve dependency:
npm ERR! peer react@">=0.14.0 <17.0.0" from react-textarea-autosize@6.1.0
npm ERR! node_modules/react-json-view/node_modules/react-textarea-autosize
npm ERR!   react-textarea-autosize@"^6.1.0" from react-json-view@1.21.1
npm ERR!   node_modules/rea

[2021-02-16 22:13] mac-s-g commented on #330
i'll take a look this weekend.
thanks for reporting the issue @pm-mkorpar

[2021-02-17 08:06] archywillhe commented on #138
hmm so this was never merged

[2021-02-17 15:28] manikandankasi786 opened #331 "Provide dataId to all key and value"
Please provide dataId to all key value that will help us to implement custom style and functionality

i.e
<div>
<span data-id="key">"key"</span>
<span>:</span>
<span data-id="key-of-value">"value"</span>

[2021-02-17 15:46] manikandankasi786 opened #332 "Is it possible to make particular json value as a underline decoration ?"

[2021-02-18 02:04] Nathansbud opened #333 "Any chance of pulling placeholder out of VariableEditor into a prop?"
"Update this value" is pretty good, but doesn't always fit the bill!

[2021-02-18 09:19] tmitchell10 opened #334 "Add ability to style braces and array brackets separately"
It would be great if there was a way to style the json structure elements e.g braces, array square brackets, the : between keys and values etc separately. Currently they are styled with the same colours, font weight, etc. as the keys.

[2021-02-20 19:19] mrbfrank commented on #140
I'm trying to get a single click (onSelect) to open the value editor. My first thought is using `onSelect` to emulate a click on the `click-to-edit` div, but a new boolean prop like `editOnSelect` would be nice.

[2021-02-21 15:59] #217 closed

[2021-02-23 21:16] RajNandigalla opened #337 "Can we optimize the bundle size ?"
I tried using this package, but i noticed page lagging on scroll
can we decrease bundle size , improve performance ?

[2021-02-25 15:25] vitaly87 opened #338 "How to light node base on mouseover on some node"
Is it possible to light with color via css other nodes base on mouse over on some other child?

[2021-03-01 20:05] jdifeder commented on #156
After much CSS tweaking I was able to figure out a workaround:

First, I rendered the <ReactJson/> in a <div> instead of a <pre> which got me halfway there.

The last change was CSS:

.variable-value {
  word-break: break-all;
}

[2021-03-01 20:08] jdifeder commented on #183
After much CSS tweaking I was able to figure out a pretty simple workaround to make the text not wrap.
Hope this helps someone!

First, I rendered the `<ReactJson/> `in a `<div>` instead of a `<pre>` which got me halfway there.

The last change was CSS:

[code]

[2021-03-02 16:26] silltho commented on #330
@mac-s-g any update on this. If you don't have time to look at this i could create a PR.

[2021-03-05 19:00] vizardkill commented on #330
and React 17.0.1

[2021-03-08 01:30] mac-s-g commented on #337
please do.  i'm happy to review a pr that improves bundle size.

closing as duplicate of #104.

[2021-03-08 01:30] #337 closed

[2021-03-08 01:39] mac-s-g commented on #330
sorry guys i snoozed on this.  i'm in the process of posting a pr that will include an upgrade of `react-textarea-autosize` from `^6.1.0` to `^8.3.2`.

`8.3.2` includes `react >= 17` as a peer dependency, so this should solve the issue.

[2021-03-08 01:48] mac-s-g commented on #330
pr linked above.  as soon as tests pass, i'll merge and publish to npm @ `1.21.2`.

[2021-03-08 02:05] #330 closed

[2021-03-08 02:09] mac-s-g commented on #330
published to npm: `react-json-view@1.21.2`

[2021-03-08 02:10] mac-s-g commented on #252
published to npm: `react-json-view@1.21.2`

[2021-03-08 02:10] #252 closed

[2021-03-08 02:57] mac-s-g commented on #307
this is a good idea.  i'm open to reviewing pr's that implement this.  i might be able to get to it sometime in the next couple of weeks if nobody beats me to it.

[2021-03-08 02:59] mac-s-g commented on #334
not a bad idea.  i'm open to reviewing pr's that implement this.

[2021-03-08 03:05] mac-s-g commented on #333
good point.  i'm conscious of prop bloat.  there's already quite a bit going on.
maybe we can separate out props related to editing into it's own object.
something like this:
[code]

just a thought.  it's not perfect so I'm open to ideas.

[2021-03-08 20:45] ggascoigne opened #340 "Invalid array length error with 1.21.2"
v 1.21.2 is giving me an Invalid array length error, reverting to 1.21.1 fixes it.  I can't say that the stack is particularly helpful but perhaps it contains some clue.

[code]

[2021-03-08 21:10] youngbob commented on #340
I'd guess it's related to #336 - if an object has more than `groupArraysAfterLength` keys, it would be rendered as an array, I think.

[2021-03-08 21:35] youngbob commented on #340
Easy step to reproduce: add `groupArraysAfterLength={1}` to the first example in the dev server.

[2021-03-09 03:04] #340 closed

[2021-03-09 03:09] mac-s-g commented on #340
published `react-json-view@1.21.3`

thanks @youngbob for the fix!

[2021-03-15 13:15] chaiwa-berian commented on #167
@rsweetland Is accessing the JSON path of the current node implemented? I would be interested to see how this works out. Thanks.

[2021-03-16 02:11] fred8617 opened #343 "Support for Symbol"
Symbol(123).toString() as a key?

[2021-03-21 01:37] iplash commented on #296
For users using nextjs, you can use next/dynamic for this case
const DynamicReactJson = dynamic(import('react-json-view'), { ssr: false });

return your json view with data like
<DynamicReactJson src={yourData} />
[hoangdoan267](https://github.com/mac-s-g/react-json-view/issues/121)

[2021-03-23 18:29] CricketLaChica commented on #273
I'm also looking to add a search box for this component – has anyone found a solution, or a fork for it? An expand/collapse callback and search box. If not, I'll go and see if I can implement it since I need it for my work.

[2021-04-01 20:21] mrbfrank commented on #163
@yoiang @mac-s-g Hi I have a similar use case wishing to lock data types, did we come to any conclusion here with impementing `staticTypes` or `JSON Schema`?

I do think `JSON Schema` makes the most sense, for instance if you have a null value.. you'd need some way to declare the appropriate type when adding a value.

[2021-04-07 05:59] tianyan89 commented on #167
copy-without-quotes can be used?

[2021-04-07 06:11] nooobcoder opened #344 "Option for indent color in component"
Please add an option to set indentation color in the component. That was the feature that I missed.

[2021-04-07 16:58] prasadrails commented on #278
+1

[2021-04-08 02:05] xiaoxinbo118 opened #345 "support custom copy icon"
I want to relace copy icon。Would do you support custom copy icon and other icons?

Thanks.

[2021-04-08 07:48] GStocking opened #346 "The data on the last face cannnot collapse in very large json objects"
I have a very large json objects.
The previous data (small index)can be collapsed,but the data that follows(big index) cannot be collapsed。
[code]
[code]
![clipboard](https://user-images.githubusercontent.com/26481477/113988154-bfbd7600-9881-11eb-8221-9840844ff303.png)
![微信截图_20210408154702](https://user-images.githubusercontent.com/26481477/113988169-c3e99380-9881-11eb-844b-0e16ee118387.png)

[2021-04-09 09:06] Savansp12 commented on #346
+1

[2021-04-09 16:09] Nickhoyer opened #347 "Error on opening property editor"
Getting this in console in my React 17 project

[2021-04-12 05:22] mac-s-g commented on #343
?

[2021-04-12 05:22] #343 closed

[2021-04-12 06:03] fred8617 commented on #343
@mac-s-g sorry,i did't describe clearly
[https://fred8617.github.io/react-sandbox/](https://fred8617.github.io/react-sandbox/)
at this demo page , you can see right bottom ,and the field which is typeof==='Symbol' is not show in rjv component

[2021-04-14 22:06] 55Cancri commented on #345
Yes, please allow custom copy, delete, and add icons such as font awesome, and also allow custom positioning. For example, all icons display on the far right of the json as you hover over different rows.

[2021-04-19 03:28] gyz0072004 opened #350 "link index.d.ts in package.json"
Currently this package provides a type definition file index.d.ts. However, the type definition is not declared in package.json file.

[2021-04-19 03:37] gyz0072004 commented on #350
This is to get the Typescript tag on npm webside: https://www.npmjs.com/package/react-json-view

[2021-04-19 12:05] yogiindia commented on #163
Its great user is provided with 2 submit options. But if a developer wants to force validation, then, in that case, single submit option must be there. There must be an option to turn off 2 submit option and instead provide only one.

[2021-04-20 09:25] xuehao1997 commented on #291
最后找到方法了吗？我也在找这个问题

[2021-04-21 02:33] xuehao1997 opened #351 "onSelect事件只能单击值，获取路径。我想单击任何节点都可以获取路径，可以做到吗？"

[2021-04-21 11:52] ztg-zlu opened #352 "有搜索高亮功能吗？"
有搜索高亮功能吗？

[2021-04-23 16:05] andyquinterom opened #353 "Plan for internationalization?"
Are there any plans for internationalization?

I am willing to contribute translating to spanish.

[2021-04-24 14:58] chad-autry commented on #323
I have a similar requirement for my usage, not yet high priority, but I expect I'll get around to it eventually.

In my case I have a named set of 'states' (think board game phases of a turn) which I'd like consistently ordered.

I expect if I need to develop things myself, I'd pass in an array of strings as a new parameter 'customSortOrder'. If a key is in the array, it gets sorted according to i

[2021-04-24 15:22] chad-autry opened #354 "Custom Buttons"
I would like a feature to allow for custom buttons + callbacks. In fact I've developed the bulk of the feature, but don't have the personal time to polish it sufficiently for a pull request.

https://github.com/mac-s-g/react-json-view/compare/master...chad-autry:master

Issues with my current changes:

1. Did not fix/add tests. Disabled tests
2. Does not show only on-hover like other buttons (and

[2021-04-24 15:24] chad-autry commented on #291
https://github.com/mac-s-g/react-json-view/issues/354 should/would resolve or work-around this.

[2021-04-24 15:24] chad-autry commented on #299
https://github.com/mac-s-g/react-json-view/issues/354 would provide similar, but alternate functionality

[2021-04-24 15:26] chad-autry commented on #272
https://github.com/mac-s-g/react-json-view/issues/354 is for custom buttons,
I don't know how easy it would be to implement a custom 'Paste Json' button.

[2021-04-27 08:13] JQrdan opened #355 "Navigate tree using keyboard interactions"
Is it possible to traverse a json object using just a keyboard? This includes being able to hit space/enter in order to expand/collapse a section of the tree.

![image](https://user-images.githubusercontent.com/25624685/116208262-a39e4d80-a738-11eb-972c-824fc251e6e9.png)

If not, this feature would be extremely useful from an accessibility standpoint as our project uses this component as a JSON vi

[2021-04-28 03:56] wood3n opened #356 "boolean type will be converted to string after onEdit?"
After edit a value of boolean type, it will convert to string. How to fix this?

![image](https://user-images.githubusercontent.com/31716713/116344326-9f496180-a818-11eb-8ca2-366f64d5520e.png)

![image](https://user-images.githubusercontent.com/31716713/116344355-abcdba00-a818-11eb-9d5a-101c9f5449e5.png)

[2021-05-02 19:35] Aldinco commented on #356
Hi! Fortunately that functionality does exist, but it's a bit hidden. When you're dealing with boolean values (meaning if you write `true` or `false` in the textbox) another checkmark will popup just below the normal one. Click on that instead and it will maintain the boolean value instead of turning it into a string. Here's a gif:

![bolean](https://user-images.githubusercontent.com/33787852/1168

[2021-05-05 10:00] filoucrackeur opened #358 "version constrains upgrade please react and react-dom"
Hello

I'm using a version 16 of react and react-dom but constrains are blocked strict :(

is it possible to change to @^16.0.0  for react and react-dom ?

[code]

cordially

[2021-05-06 11:24] redDSsun commented on #347
i got the the same warning

[2021-05-07 07:47] AbhaysinghBhosale commented on #358
Yes, This should be done as many of users of library are on react 16+.

Also there are no release notes to see what has been changed

[2021-05-07 08:05] AbhaysinghBhosale opened #359 "Dependency "ua-parser-js" have vulnerabilities, Dependency should be updated"
Found that there is vulnerability with dependency "ua-parser-js".

See more info here https://www.npmjs.com/advisories/1679

[2021-05-07 18:16] idonava commented on #354
I'm glad I found this issue.
I think Custom Buttons support is required and I'll definitely use this feature.

If you need a hand let me know...

[2021-05-10 22:18] vongohren commented on #121
@thomasjm Im using your package version on SSR side. But when using it as the simples demo example showcase, I get an empty object back, and it fails my render. I wonder why as I cannot find anything in the docs pointing to renderJson should return an empty object.

[2021-05-10 22:39] thomasjm commented on #121
@vongohren I'm not sure, but there's been a bunch of commits on `master` branch since my PR was merged--I'd recommend trying the latest first.

[2021-05-12 19:21] kcbaltz opened #360 "collapseStringsAfterLength prevents copy to clipboard"
The `collapseStringsAfterLength` feature is preventing the ability to highlight and copy text out of rendered JSON.

To reproduce, use the demo (https://mac-s-g.github.io/react-json-view/demo/dist/) and try to copy "a test string" out of the first "string" key.  As soon as you finish highlighting the text, it toggles the collapse feature and clears your selection.

I'm aware the "Copy to Clipboard

[2021-05-13 12:43] vongohren commented on #121
Nothing helped, so skipping this lib

[2021-05-19 15:32] miketwo commented on #347
fwiw, this was what it looked like for me. I'm using MaterialUI as well. I wonder if it's a React DevTools problem...?

![image](https://user-images.githubusercontent.com/1082033/118840747-4c9a1d00-b88d-11eb-92f6-f19aa975ae97.png)

[2021-05-22 06:49] jeemok commented on #296
any solution for React SSR case?

[2021-05-23 23:47] Zvi7Ping commented on #347
I am having the same warning and am not using MaterialUI. It appear every time the key entry modal or the variable-editor modal appear.  Does anyone have ideas/suggestions?

[2021-05-29 07:42] alexchanwk commented on #347
It was caused by the VariableEditor passing prop "inputRef" to AutosizeTextarea.
AutosizeTextarea had changed to use prop "ref" instead of "inputRef", and the prop "inputRef" was not handled and passed to the textarea element, which React does not recognize and gave that warning.

[2021-05-29 18:44] jacksonkr commented on #296
@jeemok I can't remember how this was resolved exactly but somehow we were able to make `document` more widely available. I want to say it was with the use something like `type: common-js` - I'm pretty sure that wasn't it but I remember that being something I was toying with around this time.

[2021-05-29 18:44] #296 closed

[2021-06-02 16:06] miton18 opened #362 "Register error"
Using:
[code]

I got this error
[code]

[2021-06-03 09:10] nictownsend commented on #292
Any updates on maintainers? I have a PR that is sat waiting so I'd love to work with the right people to unblock it.

[2021-06-04 13:40] PulkitXChadha commented on #362
I'm getting this same error.

[2021-06-05 12:50] #356 closed

[2021-06-06 04:28] tslater commented on #354
@chad-autry  This is awesome. I'll have to try your fork!

[2021-06-08 13:34] clausreinke opened #363 "odd array `collapse` behaviour with `groupArraysAfterLength`"
Consider an object containing an array: `{ARRAY: [...Array(n)], ...otherfields}`, with `collapse={1}`.

- as long as `n` is smaller than `groupArraysAfterLength`, `ARRAY` collapses as expected
- as soon as `n` ist larger than `groupArraysAfterLength`, `ARRAY` is *expanded* (to collapsed groups)

I would have expected `ARRAY` to remain collapsed, no matter its length, with `groupArraysAfterLength`

[2021-06-09 17:44] tinaszheng commented on #287
+1 having same issue

[2021-06-15 06:57] Mustafa-Agha opened #364 "React does not recognize the `inputRef` prop on a DOM element"
When I try to use react-json-view to render expandable row in a functional component in a table I get this error when I use onEdit method

React does not recognize the `inputRef` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `inputref` instead. If you accidentally passed it from a parent component, remove it from the DOM eleme

[2021-06-15 08:58] wangpeng1994 commented on #237
I added some code fragments to support this feature. Just set `displayAbstract` props ( default is false). But I won't create a pull request to this repo. I'll publish it to my private registry.
https://github.com/wangpeng1994/react-json-view/commit/d52dfc2659d0b17db3630febe061fe3e5b84c086

[2021-06-17 09:25] ihor commented on #354
@chad-autry awesome work! Do you plan to submit a PR?

[2021-06-18 14:01] chad-autry commented on #354
I am unlikely to find the time to make a PR myself, the five issues noted in the original comment need to be taken care of before it could be merged.

[2021-06-19 15:02] Mustafa-Agha commented on #347
@alexchanwk is there a solution for this bug

[2021-06-22 19:22] dylandpowers opened #366 "Optionally add commas after values"
If a user manually highlights and copies the JSON, it will be invalid because there are no commas after values. I propose adding a prop `showCommas`, which, if true, will render commas after the values.

[2021-06-30 15:35] dancherb opened #367 "Disable date suggestion"
When I type a decimal into an input, a date suggestion appears. This throws the layout off and causes the input to jump around while typing. Can I disable this?

[2021-07-13 10:14] eszczepan commented on #364
Same issue. Did you solve it in some way?

[2021-07-14 06:54] AbhaysinghBhosale opened #370 "Vulnerability with dependency ua-parser-js"
npm audit shows the vulnerabilities with dependency of react-json-view

High            Regular Expression Denial of Service

  Package         ua-parser-js

  Dependency of   react-json-view

  Path            react-json-view > flux > fbemitter > fbjs > ua-parser-js

  More info       https://npmjs.com/advisories/1679

  High            Regular Expression Denial of Service

  Package         ua-p

[2021-07-15 20:29] benpingilley commented on #364
Experiencing the same issue.

[2021-07-16 01:04] Smolations commented on #370
Isn't this a dupe of #359 ? It's like, 5 issues down. Shoulda checked first, my dude.

[2021-07-16 15:54] obadakhalili commented on #247
Will this be considered? It should be a minimal requirement to have. Thanks

[2021-07-18 20:10] GTFTT commented on #215
Same, just used ```text-align: left;``` css property

[2021-07-19 07:55] #370 closed

[2021-07-28 01:07] allenlai18 opened #371 "shouldCollapse does not work as intended"
i am returning false in many places but it is still showing as collapsed.  I know this is not very descriptive. but i wanted to see if this is an issue others are having as well?

[2021-08-04 02:07] mddarmawan commented on #364
Same here.

[2021-08-06 05:08] LoganDark opened #372 "option to not use inline styles"
I'm using a CSS library that doesn't always provide `!important` versions of its utilities, and it's a real chore to work around all the `style`s that your library puts on everything.

Could you please provide an option to turn off the inline styles, and distribute a (S)CSS file that I can modify with full freedom?

https://www.npmjs.com/package/flexlayout-react gets this right

[2021-08-10 13:58] PhilAndrew commented on #296
I got this error and I don't know why..... so I'm going to give up on this one sadly.

[2021-08-16 17:30] jjoker0110 commented on #121
I'm also getting a similar error, it works right after restarting the develop local server but any time after it fails with this message:

[code]

I'm using this with Gatsby.js

[2021-08-18 22:02] AaryanAdil commented on #364
+1

[2021-08-23 23:06] marlonguimaraes commented on #121
I got around using this:

[code]

[2021-08-23 23:15] marlonguimaraes commented on #121
If you're using **Next.js**, you can use [Dynamic Imports](https://nextjs.org/docs/advanced-features/dynamic-import):

[code]

[2021-08-30 11:11] akhileshacc commented on #366
Is it resolved ?

[2021-08-30 17:21] wondger opened #375 "There is no close brace when function"
I found the close brace has been removed: https://github.com/mac-s-g/react-json-view/blob/2feadcec5e1878f4f9319a2742d51b75d519c4dc/src/js/components/DataTypes/Function.js#L79

Is there a bug?

[2021-08-31 14:52] Kazuhiro47 commented on #364
having the same issue

[2021-09-01 17:18] tbonfim commented on #371
I just realized `shouldCollapse` callback is only called for field types array and object. I was doing something expecting all values would go through this callback and maybe you are expecting the same thing.

[2021-09-01 19:55] tbonfim opened #376 "Is there a way to expand only one specific path?"
Im working on a feature that, ideally, would render my json and expand only a search result - which is a specific path like `item.picture.src`.

I want to have my entire json collapsed and only this specific property (and it's sibilings if thats the case) expanded.

I tried implementing `shouldCollapse` callback but it is only called for arrays or objects. Any ideas on how I can implement this?

[2021-09-02 18:10] hoanphungt commented on #278
me too +1

[2021-09-06 13:50] khelifioussama opened #378 "onToggleCollapse event needed"

[2021-09-09 16:06] gatsoevaulyana opened #379 "Object(...) is not a function error when call onEdit (version 1.21.3)"
I copied this component from demo source. An error occurs after click on the Edit field button

 <ReactJson
                        name={false}
                        collapsed={collapsed}
                        style={style}
                        theme={theme}
                        src={src}
                        collapseStringsAfterLength={collapseStringsAfter}
                        o

[2021-09-16 20:43] chireia opened #380 "displayArrayKey not present ReactJsonViewProps interface definition"
Version:
"react-json-view": "^1.21.3",

`displayArrayKey` not present `ReactJsonViewProps` interface definition

[2021-09-27 08:29] enricomad commented on #364
duplicate of https://github.com/mac-s-g/react-json-view/issues/347

[2021-10-05 02:09] stumpykilo opened #381 "Please provide example on how to use with CDN"
I cannot get this library to work with any CDN link. Could you please provide a simple example of how you would use this library with a simple react page with no npm installation? Thanks!

[2021-10-06 20:26] klappy commented on #287
With some more googling, we can do that via CSS: ```.like-pre { white-space: pre; }```

https://www.w3.org/TR/CSS21/text.html#propdef-white-space
via
https://stackoverflow.com/questions/219219/how-to-change-a-span-to-look-like-a-pre-with-css

[2021-10-07 22:35] klappy commented on #287
I have been testing this and so far this has worked swimmingly for all the use cases I've tested it on:
[code]
<img width="919" alt="Screen Shot 2021-10-07 at 6 33 27 PM" src="https://user-images.githubusercontent.com/118073/136471275-63718edd-a73d-4a62-8f2e-7045ceb6f43d.png">

The only downside I see is that the long lines overflow and need scrolling as they no longer wrap.

[2021-10-10 18:07] PhenomSiva commented on #289
+1 facing same

[2021-10-19 12:17] 1mike12 commented on #287
Good solution w/ custom Css, but still... it should either render the new line, or show the \n character. The current behavior is too weird

What do you think @mac-s-g

[2021-10-24 04:02] ajereos-circadence opened #384 "BEWARE, one of the child dep is using ua-parser-js"
Particularly the Flux dep. Details here: https://thehackernews.com/2021/10/popular-npm-package-hijacked-to-publish.html

[2021-11-02 07:09] zhaozhenshun commented on #366
hi it's resloved  from rc-json-view npm https://www.npmjs.com/package/rc-json-view  set props showComma

[2021-11-03 18:17] CWSites opened #385 "Incorrect peer dependencies - support React 17"
I'm using the latest version of `react-json-view` and getting the following peer dependency warnings. I noticed in #330 that support was added however it seems like that may have been reverted?

[code]

[2021-11-11 10:02] tjnk24 commented on #347
got same problem with react-json-view: 1.21.3, react: 17.0.1, antd: 4.16.13,

[2021-11-18 07:27] mrkan-alelgn commented on #366
@zhaozhenshun I don't think it is resolved I couldn't find the props

[2021-11-18 13:13] denarced commented on #380
I noticed the same. Intentional? Probably not as the prop is mentioned at https://www.npmjs.com/package/react-json-view.

[2021-11-19 07:02] zhaozhenshun commented on #366
you. can set showComma is true in  props

[2021-11-19 07:07] zhaozhenshun commented on #366
you install set showcomma

| |
赵振顺
|
|
***@***.***
|
发自 网易邮箱大师

---- 回复的原邮件 ----
| 发件人 | Mrkan ***@***.***> |
| 日期 | 2021年11月18日 15:27 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [mac-s-g/react-json-view] Optionally add commas after values (#366) |

hi it's resloved from rc-json-view npm https://www.npmjs.com/package/rc-json-view set props showComma

@zhaozhenshun I don't

[2021-11-19 07:10] zhaozhenshun commented on #366
![image](https://user-images.githubusercontent.com/14868448/142580294-f78a6a00-6ad3-49a2-9594-0f2621c8cfeb.png)

[2021-11-23 08:40] laolaolulu commented on #364
+1

[2021-11-23 15:31] sp0033212000 commented on #347
I have the same problem. Is there a solution?

[2021-11-24 04:34] AbhaysinghBhosale commented on #279
Need same props or options to change color of keys and values. As default red color to string values indicate something different in my case

[2021-11-27 03:27] rwollgar opened #387 "Unusable on largish JSON data structures."
Rendering is slow and broswer hangs while rendering JSON. Also the JSON structure is no fully rendered.

[2021-11-29 08:09] supercmmetry commented on #251
why isn't anyone fixing this?

[2021-12-01 01:45] nitishdhar commented on #166
Being able to override user defined state seems a common use case e.g. an interface wants to enable user to handle specific collapse states but also lets the user to reset things to either collapse all or expand all.

What would be a workaround for this with the current state of things?

[2021-12-06 10:36] gadij opened #390 "Templating"
Is there a way to limit the use for a specific template?
for example, when the user open an object in the json
it will automatically set a pre-defined properties to this object such as:
name,
type,

so from this:
initial state: '{}'
*user clicks on the '+' icon
will become this:
'{
   type: "object",
   name: "",
   ...
   ...
   ...

}'

[2021-12-07 12:30] kulabros commented on #364
+1

[2021-12-07 12:58] enricomad commented on #347
@sp0033212000 @tjnk24 my pr solves the error, but i did not get any updates on this pr since i opened it.

[2021-12-07 13:01] enricomad commented on #364
@kulabros the issue is triggered by newer versions of react (compared to demo code), which the lib is not compatible with anymore.
more details in  #347

[2021-12-10 18:54] nehagup commented on #223
Yea, my usecase is pretty much same. I want to customise some items style based on some conditions. This component is fine, lacks customization.

[2021-12-13 10:26] dranitski commented on #347
upvote the fix by @enricomad https://github.com/mac-s-g/react-json-view/pull/374 :up:

[2021-12-13 10:27] dranitski commented on #364
upvote the fix by @enricomad https://github.com/mac-s-g/react-json-view/pull/374 :up:

[2021-12-14 16:59] plorenzatto commented on #387
I have exactly the same issue. A free form edit mode and a validation+formatting step before saving and returning to the standard key-value edit mode would do the trick.

[2021-12-16 06:28] flute commented on #366
It doesn't work☹️

[2021-12-17 08:11] yaoyw0727 commented on #380
I also meet the same problem, any solutions for this?

[2021-12-18 09:32] SergeBaglyuk commented on #296
OK, here is a solution for React SSR issue:
add loadable from [here](https://loadable-components.com/docs/getting-started/),
then use `ReactJson` view as dynamically loadable component:
`
...
import loadable from '@loadable/component';
const ReactJson = loadable(() => import('react-json-view'));

function YourStuff() {
...
  return (
    <React.Fragment>
      ...
      <ReactJson src={yourStuff}

[2021-12-20 11:36] akhileshacc commented on #366
Could you check if update is on v1.21.3 or v1.21.8.
On 1.21.3, I couldnt see showComma and v1.21.8 is not yet on npm.
Thanks.

[2021-12-22 13:52] drcharris commented on #380
A PR would be best, but adding this in your own codebase  works for me:

[code]

[2021-12-30 12:14] Lingam8454 commented on #223
Need same requirement, I have to highlight specific child JSON nodes. Any other solution?

[2022-01-02 14:47] bennidi commented on #353
I would do German

[2022-01-22 16:45] xingxinglieo commented on #296
i fllow your solutin, but now issue :
`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. `
i use remix

[2022-01-22 17:13] xingxinglieo commented on #296
i resolve it by meself, the issuse because of the differenet of bundle tools how to handle of dynamic import  esm,thanks for your solution
if you use remix, try
`const ReactJson = loadable(
  () =>
    new Promise((r, c) =>
      import('react-json-view').then(result => r(result.default), c)
    )
)`

[2022-01-26 13:16] xingxinglieo opened #391 "Feature Request: add lazyload function prop to handle all value"
circular reference is common, but this component can't handle it
a better way to handle it is lazyload, when expand the callapsed value, the value will pass into the lazyload function, then recieve the return value as the new callapsed value, if it is a object or array, only expand one layer . in addition, lazyload function can handle the types that are not in the definition(`Map`, `Set`, `Functio

[2022-02-01 06:28] NicestRudeGuy commented on #366
its working, guys `rc-json-viewer` is the new pkg name `react-json-viewer` is old pkg and somehow they mistmatched it.
https://www.npmjs.com/package/rc-json-view

[2022-02-20 05:46] AlexChaseJones opened #392 "Feature Request: Copy path option"
This could work similar to viewing JSON in a chrome console, where you can right click on a property and copy the path. I see this as a useful feature with various applications

[2022-02-24 17:29] busterbogheart opened #393 "Returning false in onDelete changes .updated_src in v1.21.3"
Despite the documentation, returning false _does_ alter the internal state of the module and changes updated_src.  I've set up a simple demo here:
https://codesandbox.io/s/naughty-ganguly-l2zr38?file=/src/App.js

This causes, at least:  when being blocked from deleting a key, and then successfully removing a different one, both rows disappear.

[2022-02-25 02:15] jan876 opened #394 "No theme option"
Is it possible to support "no-theme" option so that the components use the default page theme rather than overriding it?

[2022-02-25 02:18] jan876 opened #395 "Single line collapsed view"
One nice feature we were looking for was to show the first few bytes of the json in a single line instead of just showing fully collapsed mode.

i.e

[code]

Once liner view:

[code]

And it can be controlled by a parameter to define how many bytes to show as default one liner.

Thanks.

[2022-03-07 06:44] shah21 commented on #387
did you guys find any solution?

[2022-03-08 15:40] Dingoldine commented on #387
sending in the props collapsed={true} seems to fix the browser crash issue for me

[2022-03-15 02:35] JehuZhao commented on #278
+1

[2022-03-16 16:10] busterbogheart opened #396 "Possible to hide fields from view?"
Currently our solution is to save some fields in state and remove them from the initially-loaded JSON.

Ideally we can just set a CSS class on those fields, though, and hide them without modifying data.

[2022-03-17 13:42] pbourlot commented on #175
@mac-s-g Hi!
I am interested in the fact that a custom modal can be added to be able to specify, in addition to the name of the key, the data type and an initial value.
What is the status of this feature request?

[2022-03-25 06:39] killjoy2013 opened #397 "Vertical scroll for large data"
Hi,
Need to display large data. So, a vertical scroll is needed. Tried to set maxHeight in style property. However, didn't work. Only viever's height is set, but the actual big data still visible in the background.

How to set a vertical scroll?

Thanks

[2022-03-25 07:16] killjoy2013 commented on #397
overlow in outer div works :-)

[2022-03-25 07:16] #397 closed

[2022-03-28 04:20] killjoy2013 commented on #192
@tzachshabtay can we use **react-json-view** with **react-virtualized**? Any sample would be very helpful !

[2022-03-28 04:22] killjoy2013 commented on #186
@alexanderabramov  have you already used **react-json-view** with **react-virtualized**?

[2022-03-28 04:25] killjoy2013 opened #398 "react-json-view virtualization large data"
Hi,
Is there any virtualization option? Or can we use react-json-view with , for instance, react-virtualized? Couldn't find any sample.

[2022-04-07 15:12] tzachshabtay commented on #192
@killjoy2013 not that I know of. My suggestion was to use `react-virtualized` inside this project to solve this issue (assuming the issue is because of missing virtualization, I don't know if that's true).

[2022-04-14 15:04] awesomesk1ll commented on #124
sup: do it please

[2022-04-15 02:37] Holy-Shine opened #400 "copy"

[2022-04-15 02:37] #400 closed

[2022-04-20 17:46] pedrommuller opened #401 "Collapse item after adding it"
I'd like to collapse an element which I recently added to the tree, for now I added the elements works fine but the collapse state doesn't change

[2022-04-22 04:02] Reamd7 commented on #366
@zhaozhenshun 你好，请问你修改之后的fork的源码是在哪里啊？我只能找到npm 上的打包

[2022-04-27 02:41] RodrigosTiago commented on #364
Same problem here until today :D  Do I have to do anything to fix it?

[2022-05-02 15:20] alenocera opened #403 "react 18 peer dependencies error"
Hi guys,
with the new react v18 the dependencies cause an error when npm -i is executed.
Can you please provide the fix to the dependencies error on installation?
Thank you very much!

[2022-05-03 14:05] maybesmurf opened #404 "Consider typescript users"
It's 2022 why is there no typescript types? Add typings

[2022-05-07 15:07] christopher-caldwell commented on #404
![Screen Shot 2022-05-07 at 10 06 19 AM](https://user-images.githubusercontent.com/62559469/167260111-9dce17b1-2026-422d-b047-5cb21677d195.png)

The types are already included.

![Screen Shot 2022-05-07 at 10 07 08 AM](https://user-images.githubusercontent.com/62559469/167260139-903dcf59-e297-4c83-9297-63d76eccff6d.png)